[2016-01-14 15:19] prasimix opened #1 "Error -103 is not supported"

[2016-01-14 15:24] prasimix opened #2 "Add range check for time and date values"
Few rare situations are detected when RTC read returns not allowed values (e.g. number of seconds greated then 59). Add into self-test procedure new test that will address such situations and report an error.

[2016-01-14 16:07] prasimix opened #3 "Additional commands for SIMUlator:LOAD"
Add STEP command for SIMU:LOAD as it is already exists for VOLTage and CURRent. Also it could be added to the SIMU:TEMP.

[2016-01-16 16:53] prasimix opened #4 "Ethernet connection freeze on Mega"
Ethernet connection seems to freeze after some time with Mega. That could be 15 minutes or half an hour. When that occurs, firmware is still responsive via serial. Lost Ethernet connection is not possible to establish even after hard reset. If reset is activated, firmware immediately reports the following error on serial console:

[code]

... and when Ethernet connection timeout is happened usuall

[2016-01-16 16:58] prasimix opened #5 "System command cannot be executed in the standy-by mode"
System commands such as SYST:DATE or SYST:TIME returns error if PSU is in stand-by mode. There is no reason for that since no channel resources are required for their execution.

[2016-01-16 17:19] prasimix opened #6 "*RCL requires more specific error when non-existent profile is selected"
Currently *RCL returns error -200 if selected profile does not exist. It has to be replaced with more specific error. Use: `400,"Cannot load empty profile"`

[2016-01-20 14:14] prasimix commented on #4
After three days of continuous work with Due board this issue didn't shown up. Further investigation with Mega is required.

[2016-01-21 12:36] prasimix opened #7 "Add SPI devices software reset"
Add software reset in initialization of SPI devices when applicable (for example set RESET register on ADS1120 for that).

[2016-01-21 12:40] prasimix opened #8 "UTFT/Utouch reuse"
This is a reminder that in one moment we should reuse parts of UTFT and UTouch only for display that we are using. Regardless of that we have to add test and init procedure for both TFT display and Touch controllers.

[2016-01-27 14:46] prasimix opened #9 "Self test of MAIN temp sensor"
Add self-test of MAIN temp sensor that will return error if value is below -10oC. That could be used as criteria for disconnected NTC since Due in that case returns ~13.8oC. Also during the operation if returned value is so low that has to generate immediately a warning error on the local console that will require operators intervention. If such intervention is not happened max. current per channe

[2016-01-31 08:09] prasimix opened #10 "Add datetime stamp in debug trace message"
Display datetime (if RTC is set) at the beginning of each trace debug message.

[2016-02-01 15:52] prasimix opened #11 "*SAV do not generate any error if EEPROM is not installed or EEPROM test is failed"
*SAV has to generate an error on an unsuccessful attempt to save a profile when EEPROM test is failed or EEPROM is not installed.

[2016-02-09 10:09] mvladic commented on #10
Done.

[2016-02-09 10:32] prasimix commented on #10
Tested.

[2016-02-09 10:32] #10 closed, assigned to mvladic

[2016-04-04 10:02] prasimix commented on #8
Due to inappropriate algorithm UTouch is not used anymore.

[2016-04-04 10:06] prasimix opened #12 "AUX sensor temperature trip while in stand-by mode"
Disable further over-temperature tripping when the PSU enters stand-by mode for any reason (that include also previous over-temperature trip).

[2016-04-04 10:08] prasimix commented on #4
Fixed. This problem was related to SDcard that was inserted and SDcard select control line was not disabled.

[2016-04-04 10:08] #4 closed, assigned to mvladic

[2016-07-14 13:21] #5 closed, assigned to mvladic

[2016-07-14 13:25] #9 closed, assigned to mvladic

[2016-10-11 12:39] prasimix opened #13 "W5500 configuration in eez_psu_lib"
Add support for W5500 in eez_psu_lib (currently only the enc28j60 is supported).

[2016-10-11 12:59] prasimix opened #14 "Infrastructure for LIST SCPI subsystem"
LIST SCPI subsystems will require implementation of the triggering system. Therefore the following commands has to be implemented:

[code]

[EEZ PSU SCPI reference guide.zip](https://github.com/eez-open/psu-firmware/files/526776/EEZ.PSU.SCPI.reference.guide.zip)

Store and retrieve lists from SD card. If SD card is not installed or not present/formatted we have to return an error. Allow only basic

[2016-10-11 13:22] prasimix opened #15 "Wrong channel's temp sensor values on *RST"
The *RST command should set channel's temp sensors params to the following values:

[code]

[2016-10-11 14:42] prasimix opened #16 "Add support for SCPI control via Excel"
Create DLL for communication over serial and TCP/IP that will enable Excel with VBA to be used for SCPI programming. Check for an example in the following document:

`\BTSync\Manuals\Remote control\Other vendors programming guides\Agilent E364xA (E3646-90001).pdf`

[2016-10-11 14:46] prasimix opened #17 "Clear simulated states when an error is occured"
Simulated states such as SIMU:PRWGOOD 0 and DEBUG:WDOG 0 should be cleared after the PSU enters stand-by due to generated error

[2016-10-14 09:27] prasimix opened #18 "Compare output values when profile auto recall is used"
We have a possible dangerous situation when for auto recall is selected user profile higher then 0. If e.g. that profile sets output to 12 V and after power on user decrease that voltage to 5 V in the next power on (that can be caused by AC blackout) voltage will be set back to 12 V. If output is enabled and load that require 5 V is still connected without proper OCP will be damaged. Therefore on

[2016-10-15 07:00] prasimix opened #19 "Calibration parameters usage"
If channel is calibrated, its calibration parameters cannot be activated or deactivated without new restart. Both CAL:STAT? and local console option reflect changed state but that is not a real situation. An example:

[code]

[2016-10-15 07:17] prasimix commented on #6
Use the following error:
`400,"Cannot load empty profile"`

[2016-10-15 07:19] prasimix commented on #11
Use the following error:
`615,"External EEPROM save failed"`

[2016-10-15 07:27] prasimix commented on #12
This can be a new error in the power-up self-test procedure. When happen display something like:

[code]

... and continue to update current temp value. When it drops below trip level, display/enable Home button in the right bottom corner. If such condition happen we can switch on fan with max. speed to improve cooling.

[2016-10-15 07:38] prasimix opened #20 "Display output value range with defined limit"
There is no reason why we shouldn't display output value range with taking into account LIMit instead of MAXimum value. For example if CURR:LIM is 3 A on the channel 1 then we should display:

`Set Ch1 current [0.00-3.00A]`

instead of:

`Set Ch1 current [0.00-5.00A]`

[2016-10-21 14:41] prasimix opened #21 "Input data validation during touchscreen calibration"
Currently, screen calibration data for three points are validated at the end of the calibration. We have to do that during the calibration process and inform user if data is not as expected (out of range or even equal that can be caused by some problem in communication with touchscreen controller).

A warning message can be displayed for few seconds on the screen if such thing is happened like: "R

[2016-10-22 13:51] prasimix opened #22 "Simplified simulator GUI"
If possible, add new command (e.g. SIM:GUI:MIN and SIMU:GUI:DEF to restore) that will resize simulator front panel to TFT display area only. That should simplify taking screenshots that can be used for writing user manual.

[2016-10-22 16:22] prasimix opened #23 "Self-test option for TLC5925 driver"
Existing power up self-test procedure does not include TLC5925 testing since its not possible to get feedback from that IC. Nevertheless we can add new option under system settings for turning on and off all it's outputs sequentially that user could visually test if all LEDs are working (here we can draw front panel and indicate which LED or relay is currently turned on).

When this procedure is s

[2016-10-27 07:22] prasimix opened #24 "UTFT library usage"
According to author of UTFT hosting of any variant of his library is a crime, and since UTFT_Pro is removed from the GitHub we have to remove UTFT_Pro from our distribution and forward users to download library from his site. That will also require the following changes in lcd.cpp:

`#define TFT_320QVT_9341 CTE32_R2`

Remove all other libraries from the project and do the following:
- Open a new p

[2016-10-27 09:00] #19 closed, assigned to mvladic

[2016-10-27 09:04] prasimix opened #25 "SYST:POW 1 with connected load generate failure"
If SYST:POW 1 command is executed with load connected it will generate:

[code]

Going back from stand-by mode initiated from local console works fine.

[2016-10-28 20:16] #15 closed, assigned to mvladic

[2016-10-28 20:16] #18 closed, assigned to mvladic

[2016-10-28 20:27] prasimix commented on #8
See #24

[2016-10-28 20:27] #8 closed, assigned to mvladic

[2016-10-31 17:25] #20 closed, assigned to mvladic

[2016-11-02 11:59] #25 closed, assigned to mvladic

[2016-11-03 07:58] prasimix commented on #22
Won't fix.

[2016-11-03 07:58] #22 closed, assigned to mvladic

[2016-11-03 08:01] prasimix opened #26 "Repository of all textual messages"
We need a central repository of all textual messages except SCPI error messages.

[2016-11-03 08:05] prasimix opened #27 "Remembering selected page"
Remember selected page on channel basis, e.g. channel settings page/tab or edit output value page/tab.

[2016-11-03 08:21] prasimix opened #28 "Firmware upload using Ethernet port"
Few possible useful links:
http://forum.arduino.cc/index.php?topic=343944.0
http://www.freetronics.com.au/pages/how-to-upload-a-sketch-to-your-arduino-via-a-network#.V3-v_u3SrMQ
http://playground.arduino.cc/EthernetBootloader/EthernetBootloader

GitHub:
https://github.com/codebendercc/Ariadne-Bootloader
https://github.com/mharizanov/TFTPBootloader_0_2
https://github.com/esmil/arduino-netboot
https

[2016-11-03 08:42] prasimix opened #29 "Channel output when start up selftest failed"
If during power up self-test failed for any reason, outputs of all channels must be disabled.

[2016-11-03 08:47] prasimix opened #30 "Cursor and autorepeat delete for editing text strings"
We need some faster mean of positioning while editing text strings (e.g. profile name, or calibration remark). Also "Delete" key on the keyboard should has autorepeat feature.

[2016-11-03 09:08] prasimix opened #31 "Disable or ignore OCP if current is set to zero"
When output current is set to zero OCP does not makes sense. It has to be disabled or ignored in that case.

[2016-11-03 09:13] prasimix opened #32 "Displaying mV and mA"
In bar graphs view display mV and mA for smaller values (below 1 volt or ampere)

[2016-11-05 19:42] prasimix opened #33 "Switch off down-programmer to avoid overheating"
We need to monitor output power and if its go below `DP_NEG_LEV` that is negative value in Watts (default -1 W), and that condition lasts more then `DP_NEG_DELAY` seconds (default 5 s), down-programmer circuit has to be switched off.
Also an error `500,"Down-programmer switched off"` has to be generated and in Event view a new warning message has to be inserted: `DProg is turned off`
Turning chann

[2016-11-07 13:13] prasimix opened #34 "Modification of main page with numeric output value presentation"
Make necessary adjustment that displaying output values with three digits are correct. That should be done in one of the following ways:

1. Resize big font
1. Use smaller font for V and A
1. Use smaller font for displaying decimal numbers

[2016-11-08 07:24] prasimix commented on #33
Tested with build b3ef056, it works fine just need to change message type and text for the event view: it should be warning instead of error and text is `DProg CHx is turned off` or `DProg CHx disabled`

[2016-11-08 15:32] #33 closed, assigned to mvladic

[2016-11-12 15:34] prasimix opened #35 "Channel coupling"
Implement channel coupling in series and parallel using built in power relays. That require new SCPI commands `INSTrument:COUPle:TRACking` and introducting some sort of command dispatcher that more then one channel can be controlled as single entity. Also we need a new set of main pages where only one set of output programming and measured values will be displayed with new ranges (up to 80 V and u

[2016-11-16 22:20] prasimix opened #36 "Compile failed if CONF_SKIP_PWRGOOD_TEST set"
Compiler report error if `CONF_SKIP_PWRGOOD_TEST` is set:
[code]

[2016-11-17 15:45] prasimix commented on #35
Tested with 212293d
1. When enter stand-by mode relay is switched off what is fine, but on next power on it's not switched on again
2. When powered on or hard reset relay will be switched on and off
3. Cannot set current if uncoupled (INST:COUP:TRAC? NONE):

[code]

[2016-11-18 09:16] mvladic commented on #35
Fixed!

[2016-11-18 09:35] mvladic commented on #36
Fixed!

[2016-11-20 17:07] algaremi opened #37 "Incorrect WATCHDOG generation on Power-On"
Hi. I'm having problem with the EEZ using 120V AC main supply, and two SMPS 48V supplies instead of the toroidal transformer. Problem seems to be related with the SMPS to be slower to start under 120Vac, that slow the correct start of both PWR_PCB Pre-Regs and the three digital supplies (+/-5V, 9V). Then the Arduino is doing his startup checks, but doesn't get the replies from the IOEXP and ADC, a

[2016-11-21 12:32] prasimix commented on #37
Tested with 115 Vac and Mean Well [LRS-150-48](http://www.tme.eu/en/details/lrs-150-48/industrial-power-supplies/mean-well/) and I cannot reproduce this issue. It is tested with 50 Hz and autotransformer, maybe there is some issue with 60 Hz. A further study is required possibly with special firmware version with more debug info.

[2016-11-22 10:16] prasimix commented on #37
Please try to replace board.cpp with one in the attachment. We added additional 2 seconds delay after power on sequence. If you still have a problem try to increase delay in line 36 (e.g. for 5 seconds set 5000). If this solve your problem try to decrease that delay to the point when issue will appear again and let us know what is that value.

[board.cpp.zip](https://github.com/eez-open/psu-firmwa

[2016-11-22 23:03] algaremi commented on #37
On 2016-11-22 05:16, prasimix wrote:

I think I finally found the problem, if not its cause. With the added
starting delay I had more time to look at the SMPS power supplies
output. Guess what I found? The problem at startup was always CH1 first,
then some time CH2. Looking at the scope 48V screen capture we can see
that the SMPS starts normally, then after the startup delay the CH1
PWR_PCB starts

[2016-11-22 23:04] algaremi commented on #37
Here the 48V trace
![ch1_48v_supply](https://cloud.githubusercontent.com/assets/22171393/20545626/2a213558-b0de-11e6-8fa3-9da5a13d7de1.jpg)

[2016-11-23 07:04] prasimix commented on #37
Did you get the same glitch when AC/DC module for CH1 is connected directly to the AC mains?

[2016-11-23 17:40] algaremi commented on #37
Tested with both AC/DC modules connected directly to AC (not going
through the AUX_PS) and it is working fine. Keep in mind that in this
case the AC/DC modules are ON before the EEZ PS turns on, like when I'm
using an external PS. I was not able to reproduce the l=drop on the
AC/DC module output.

Measure both PWR_PCB DC input current at startup, they are quite low, no
big current surge, CH1 is 24

[2016-11-24 09:23] prasimix commented on #37
Please try with attached sketch. It has start up sequence and after that you can see on each outputs something like this:

![dac output test](https://cloud.githubusercontent.com/assets/15106476/20592841/02cf3a06-b230-11e6-937d-ce4ef7e9e51b.png)

[DAC_set_output_voltage_test.zip](https://github.com/eez-open/psu-firmware/files/610890/DAC_set_output_voltage_test.zip)

[2016-11-24 09:23] mvladic commented on #37
[DAC_set_output_voltage_test.zip](https://github.com/eez-open/psu-firmware/files/610895/DAC_set_output_voltage_test.zip)

[2016-11-24 09:27] mvladic commented on #37
[DAC_set_output_voltage_test.zip](https://github.com/eez-open/psu-firmware/files/610902/DAC_set_output_voltage_test.zip)

[2016-11-24 10:06] prasimix commented on #37
Please try if possible also the following scenario: keep AC/DC modules controlled by AUX PS soft-start switch, keep Power boards connected to their AC/DC modules but **disconnect** them from the Arduino shield!
That will indeed generate self-test errors, but for us is interesting to see if 48 V at the AC/DC modules outputs will have the same huge drop-down or not.

[2016-11-24 11:37] prasimix commented on #35
Add "Not allowed" state for options (as R/O text) that cannot be used while channels are coupled:
- Channel:advanced settings: Low ripple mode (SER only)
- Channel:advanced settings: Remote sensing (SER only)
- Channel:advanced settings: Remote programming
- Channel: information: Calib. params

[2016-11-24 12:22] algaremi commented on #37
I'll try these tests this evening, ThanksSB                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry 10 sm

[2016-11-30 17:38] prasimix commented on #37
Please also let us know if you got the same problem when:
1. both channels are set OFF at the start up and
1. even if load is not connected.

[2016-12-01 15:56] prasimix commented on #37
A special [branch](https://github.com/eez-open/psu-firmware/tree/startup-hl) is created with some extra measures that could fix this issue. Delete completely your existing sketch and libraries and download new one.
Please note that this version do not have startup self-test procedure.

[2016-12-01 20:36] algaremi commented on #37
Ok resuming working on the EEZ supply. First you asked to see if both
channels are OFF at startup, if the problem was still there. Yes it is,
supply detects errors and fall back on standby.

On 2016-11-24 05:06, prasimix wrote:

[2016-12-01 20:40] algaremi commented on #37
Second test you asked to check, Both PWR_PCB disconnected from Arduino,
and both AC/DC supplies still controlled by Arduino Shield, Arduino
detects all the missing interfaces from both Ch1 & CH2 (Normal...), goes
in ERROR on the screen and both 48V supplies turns OFF, Arduion doesn't
go in standby...

On 2016-11-24 05:06, prasimix wrote:

[2016-12-01 20:50] algaremi commented on #37
I tried this new sketch and nothing happens, the 48V supplies don't turn
ON, so I cannot see the DAC output pattern...
Only the Arduino shield Touchscreen background light turns on, then
nothing...

SB

On 2016-11-24 04:23, prasimix wrote:

[2016-12-01 21:01] algaremi commented on #37
Clone this new sketch, unzip and tried to upload using Arduino. I got
the following error at the compilation step:

Arduino: 1.6.12 (Windows 7), Board: "Arduino Due (Programming Port)"

sketch\channel.cpp: In member function 'void
eez::psu::Channel::tick(long unsigned int)':

channel.cpp:611: error: 'SCPI_ERROR_CH1_DOWN_PROGRAMMER_SWITCHED_OFF'
was not declared in this scope

psu::generateError(SC

[2016-12-01 21:43] algaremi commented on #37
Well something seems to be broken with my Arduino, tried to re-installed
the original sketch, but got an other libraries error. Today I autorized
libraries update... I tried to de-install the Arduino program, and
re-install from scratch but it doens't seem to work, all my previous
settings are still there... Any idea how I can solved this problem?
Thanks
SB

Arduino: 1.6.13 (Windows 7), Board: "Ar

[2016-12-01 22:33] algaremi commented on #37
Ok fixed my Arduion, re-installed the version 1.6.9 (not the latest
one), copied missing EEZ librairies to the Arduino Library folder, now
the original master version M2 compile and upload without error. I'll
try the new program path for Heavy load.

On 2016-12-01 10:56, prasimix wrote:

[2016-12-01 22:33] prasimix commented on #37
`'SCPI_ERROR_CH1_DOWN_PROGRAMMER_SWITCHED_OFF' was not declared in this scope` means that you didn't copy libraries required for firmware sketch to compile. You need to do that manually as first time (follow [building instructions](http://www.envox.hr/eez/bench-power-supply/building-instructions.html#instr_fw)).

[2016-12-01 23:19] algaremi commented on #37
Ok, now a strange problem, the new master-hl compile fine, but it is not
uploading completely. It stops during the upload process and stay there
hanging, doing nothing. The Arduino USB port led stops flashing...

Just to be sure I used the previous Master sketch and the one compile
and upload just fine...

I retried three times, tried different USB ports on my laptop, no
success. For unknown reaso

[2016-12-01 23:21] algaremi commented on #37
Screen capture of the Arduino, frozen in the Uplaod process:
![image](https://cloud.githubusercontent.com/assets/22171393/20816953/f8f125da-b7f2-11e6-8caf-4e2a7e269f7e.png)

[2016-12-01 23:25] prasimix commented on #37
Could you please detach Arduino Due from the shield and try upload once again. Also be sure that programming port is used. In Arduino IDE select **Tools ... Board ... Board manager** and please let us know what _Arduino SAM boards_ version you have installed.

[2016-12-02 00:10] algaremi commented on #37
Tried with the Arduino by itself and same problem...

On 2016-12-01 18:25, prasimix wrote:

[2016-12-02 08:50] prasimix commented on #37
Ok, I tried it here with both IDE 1.6.9 and 1.6.13 just to be sure that the latest version has some files that remains even if you goes back to 1.6.9. Everything works fine but I'm on Linux (if that makes any difference).
Hopefully you restart Windows (after each upload failure) to be sure that something is not stuck in USB or some other lower level.

[2016-12-02 09:09] prasimix commented on #35
We have to find a way how to display channel specific information while channels are coupled:
1. Current temperature on channels sensors in OTP settings on Protection settings page
1. Total on time, last on time and temperature on Info page

Info page when channels are coupled could looks completely different. We do not need info about calibration and remaining params could be enumerated/listed on

[2016-12-02 09:11] #36 closed, assigned to mvladic

[2016-12-02 15:16] prasimix commented on #37
Without further struggling with newer version of sketch, please upload M2, remove jumper JP8 on Arduino Shield and let us know what's going on.

[2016-12-02 15:24] algaremi commented on #37
Hi. I rebooted my laptop, no change, and I was wrong, the upload stops
always at the same memory location, check the recording of three try I
did, it stopped always at the same point, I'll go back to M2 then

readWord(addr=0x400e0a08)=0x1
readWord(addr=0x400e0c08)=0x1
writeWord(addr=0x20001024

writeWord(addr=0x2000102c,value=0xbf100)
readWord(addr=0x400e0a08)=0x1
readWord(addr=0x400e0c08)=0x1
wri

[2016-12-02 15:31] prasimix commented on #37
Ok, please try the new build a47e2ff on the [master](https://github.com/eez-open/psu-firmware) branch.

[2016-12-02 15:45] algaremi commented on #37
It is working! Like miracle everything is nowworking just fine, standby
mode leaves both AC/DC converters ON, front power switch shut down both
AC/DC converters, both PWR_PCB are working just fine, supplying 1A in CC
mode for CH2 and 22V, 0.35Amp on CH1 at the moment, 5mm gel coupling
heatsink pads finally received yesterday and installed, the PWR_PCB are
just barely warm, perfect!

What is JP8 do

[2016-12-02 15:50] prasimix commented on #37
Ok, if you remove it now please put it back and try the latest firmware! This issue is not related to 120VAC but it is just sooner manifested with lower mains voltage. Ironically this is a guard against MCU blocking, but since WATCHDOG signal is not properly generated on the start it pull down AC power. I'll change the name of this issue.

[2016-12-02 15:50] algaremi commented on #37
Do I need to re-install JP8 with this built?

On 2016-12-02 10:31, prasimix wrote:

[2016-12-02 15:58] prasimix commented on #37
Yes, idea is to make it work with JP8 installed. That was firmware, not hardware bug.

[2016-12-02 15:59] algaremi commented on #37
Ok I'll put it back, so it was finally really a software bug, glad to
see that I was dreaming it!

BTW how is the fan controlled? I tried the low ripple feature on channel
1, and the PWR module temp went up and exceeded 50C, and the OTC
protection kick-in, but the fan never started, which makes me a little
worried...

SB

On 2016-12-02 10:50, prasimix wrote:

[2016-12-02 16:00] algaremi commented on #37
BTW how do I download the new built, seems to have multiple files
changed. Do I simply re-download the complete M2 and re-install it?

Thanks
SB

On 2016-12-02 10:31, prasimix wrote:

[2016-12-02 16:05] prasimix commented on #37
The simplest way to follow new build is to install `git` and synchronize with master repository by entering:
`git clone https://github.com/eez-open/psu-firmware`
And for each new build you need to enter:
`git pull`

If that is too complicated simply download everything from master branch and overwrite previous local copy.

[2016-12-02 16:21] prasimix opened #38 "Rename MAIN sensor to AUX"
The name of the MAIN sensor is misleading. People thinks of it as one that is in charge for fan speed control what is not the case. It's optional and can be used for monitoring e.g. main transformer or temperature inside enclosure. We need to change that in SCPI and GUI

[2016-12-02 16:33] algaremi commented on #37
Installed and used Git and worked like a charm, Downloaded latest built,
but again same bug, jammed during the upload to Arduino.
I cannot install any othe r built than the original M2. Something
changed since then, very strange. I'm using Arduino 1.6.9. Should I
upgrade to the latest Arduino?

SB

On 2016-12-02 11:05, prasimix wrote:

[2016-12-02 16:36] prasimix commented on #37
Yes, that's strange. Do you have problem with compiling or uploading?

[2016-12-02 16:46] algaremi commented on #37
On 2016-12-02 11:36, prasimix wrote:

Compiling/Verifying is working fine. Problem only with uploading, but
original M2 is working fine...

[2016-12-02 16:47] prasimix commented on #37
Please note that M3 is much larger then M2 and require more time for upload. I don't know if `Show verbose output during upload` (under **File... Preferences**) helps or make things even slower.

[2016-12-02 16:55] algaremi commented on #37
Longer is one thing, but the upload just freeze, see latest screen
capture, you see no progress bar or nothing:
readWord(addr=0x400e0a08)=0x1
readWord(addr=0x400e0c08)=0x1
writeWo

I'll try with verbose Off

On 2016-12-02 11:47, prasimix wrote:

[2016-12-02 17:13] algaremi commented on #37
Tried verbose off, and the upload jam during the verify phase, see screen capture... Repeated twice and same result...

![image](https://cloud.githubusercontent.com/assets/22171393/20843292/c8b67802-b888-11e6-92fe-2eb7a4325839.png)

[2016-12-02 17:20] prasimix commented on #37
Congratulations! It seems that you just find bug in Arduino IDE for Due.
Please switch off `Verify code after upload`! As you can see upload is successfully finished.

[2016-12-02 17:28] algaremi commented on #37
Yes Sir it worked. I was able to upload the code with |Verify code after
upload|! set to Off.

Now I have M3 code, but still a problem, JP8 re-installed, supply turns
on, but report both channels in ERROR and turn off both AC/DC modules...

Back to square one it seems...

SB

On 2016-12-02 12:20, prasimix wrote:

[2016-12-02 17:35] algaremi commented on #37
Errors reported at startup are both CH1 & CH2 IOEXP & ADC failed, but at
least the supply doesn't go in standby immediately...

SB

On 2016-12-02 12:20, prasimix wrote:

[2016-12-02 17:39] prasimix commented on #37
Ok, please check once again that you are downloading the latest build. Then use one of serial monitor which allows you to copy&paste serial output (check [here](https://www.baldengineer.com/alternatives-to-arduinos-serial-monitor.html)). After downloading latest build add this code into conf_user.h:
[code]
Send us what you receive on start up.

[2016-12-02 18:35] algaremi commented on #37
I have built: psu-firmware-a47e2ff854e657dd876232ff481d7a4c55480d54

Here the code at startup:
EEZ PSU serial com ready
**TRACE: Touch screen calibration points: 3593, 468, 429, 3575, 449, 511
**TRACE: Touch modification ENABLED
**TRACE [2016-12-02 14:48:51]: PWR_DIRECT -> HIGH
**TRACE [2016-12-02 14:48:52]: BP 0x0000
**TRACE [2016-12-02 14:48:52]: Ch1 GPIO 0x0a
**TRACE [2016-12-02 14:48:52]: Ch2

[2016-12-03 07:34] prasimix commented on #37
Bug with Arduino IDE is reported [here](https://github.com/arduino/Arduino/issues/5672).

This is now starts to be weird. Please decrease `WATCHDOG` interval to 500 ms as suggested in my previous comment and send us if possible on the single screen signal traces of:
1. +48 VDC input on any of Power boards
1. Arduino Due pin 5 (it's 3rd pin from the left on the second header on the upper row of hea

[2016-12-03 09:01] prasimix opened #39 "Add support for AUX sensor OTP on local console"
A new option on sys_settings page is introduced (Set AUX sensor OTP) that has to be linked with sys_settings_aux_otp page. That page will be also used for clearing OTP tripping.
This protection currently shut down power supply, but we have to change that. It's enough to switch both outputs off.

[2016-12-03 17:33] algaremi commented on #37
Ok, probably didn't copy the watchdog 500ms instructions in conf_user.h
the last firmware pull I did. Forgot, it was late yesterday, long day...
Pull latest firmware "M3 (a47e2ff)", added watchdog 500ms, compile and
upload.

Ok this time still has the PWR_PCB faults, but the 48V doesn't even turn
on at startup, no wonder the PWR_PCB are not working, there is no supply...

Trace at startup, going o

[2016-12-03 21:23] algaremi commented on #37
Upgraded Arduino Due board driver to 1.6.9, recompile and tried
different Watchdog delays from 100 to 900ms, and same problem, the AC/DC
modules don't start with this version...

SB

On 2016-12-03 02:34, prasimix wrote:

[2016-12-03 22:50] prasimix commented on #37
Is it possible to send us screenshot of pin 5 on Arduino board as I suggested in my latest comment? You can leave `WATCHDOG_INTERVAL` to default (1000).

[2016-12-03 23:30] algaremi commented on #37
Ok, will do tomorrow, thanks

Sent from my iPad

[2016-12-04 17:21] prasimix commented on #35
OVP trip level cannot be set correctly if channels are coupled in parallel. Saved value will be cut in half (e.g. 25 V is recorded as 12.5 V)

[2016-12-05 08:37] prasimix commented on #35
Waking up from stand-by mode when channels are coupled will not be correct if one of the channel was previously in error mode (e.g. powergood signal failure is detected). Step to reproduce this problem:
1. Couple channels in parallel, set voltage and current, connect load
1. Remove power cable from one Power board, when PSU should go into stand-by
1. Wake it up from stand-by and no current will be

[2016-12-05 21:30] algaremi commented on #37
Hi. As requested here is pin 5 on the Arduino scope screen capture, there a short pulse (PW: 3 uS). Is it telling you anything?
![capture](https://cloud.githubusercontent.com/assets/22171393/20903152/30b0f30c-bb08-11e6-92c7-57dd97ee23a3.JPG)

[2016-12-05 22:15] prasimix commented on #37
Yes, that's WATCHDOG signal. Can you make another screenshot of the start-up with much longer timebase (e.g. 1 sec)? If it for some reason is missing for more then about 1.6 seconds AC power will be turned off (with JP8 installed).

[2016-12-05 22:28] algaremi commented on #37
On 2016-12-05 17:15, prasimix wrote:

Will do in a few hours. thanks

SB

[2016-12-06 13:11] prasimix opened #40 "Channels output state on calibration page"
When calibration page is selected we have to go back to main if no activity is detected for `GUI_BACK_TO_MAIN_DELAY` seconds. Other possibility is to switch off outputs on both channel when calibration wizard is started.

[2016-12-06 19:01] algaremi commented on #37
Here Arduino pin5 scope capture from power-on
![capture](https://cloud.githubusercontent.com/assets/22171393/20939351/78d4f1e2-bbbc-11e6-9378-dcfaa1da8bac.JPG)

[2016-12-06 19:21] algaremi commented on #37
Updated firmware to latest version with git, redo screen capture, pulse had changed
![capture](https://cloud.githubusercontent.com/assets/22171393/20940034/3ecec952-bbbf-11e6-8914-ed30749977e4.JPG)

[2016-12-06 22:27] prasimix commented on #37
Ok, it seems that you don't have continuous generation of watchdog pulses and therefore nothing is happen on the start. Could you please add into your conf_user.h file the following code (or uncomment it if it's already there as part of some of recent builds):
[code]
That should disable generation of watchdog signal and TPS3705-33 should not affect AC soft-start control.

[2016-12-06 23:49] algaremi commented on #37
But the real question is why no continuos pulses. Are the pulses generated by IC32 or the Arduino code?
SB

Sent from my iPad

[2016-12-07 01:36] algaremi commented on #37
Uncommented both lines, recompiled and upload. Still not working, both AC/DC modules stays off...

[2016-12-07 13:39] #35 closed, assigned to prasimix

[2016-12-07 13:50] prasimix commented on #37
Please find below how it looks like on the my end with the latest build when power on is initiated:

![2016-12-06 watchdog powered on](https://cloud.githubusercontent.com/assets/15106476/20970112/3fd90dc6-bc8c-11e6-89ac-87e3d0d2c08b.png)

If you still have a problem, send us your `conf_user.h`, but if there is nothing questionable we don't know how to proceed with this issue then wait for other pe

[2016-12-07 14:27] prasimix opened #41 "New 312 error in SCPI"
Use `312,"Cannot execute when the channels are coupled"` error (instead of -200) when one of the following SCPI commands is send when channels are coupled:

* CAL
* LRIP (SERial only)
* VOLT:PROG
* VOLT:SENS (SERial only)
* SIMU:RPOL
* SIMU:VOLT:PROG:EXT

[2016-12-07 17:42] algaremi commented on #37
Hi. Looked around the Watchdog IC32 and Power-ON AND Gate IC31. Did a lot of ohmeter continuity check on all pins, then without the Arduino tried to test the circuit. I found the IC32, pin4 (FDI) was no making continuity to GND, resoldered, but looking at spec sheet, this should have affected to Watchdog function...
By default at startup, IC32, pin WDO is high, then applied high at IC31 pin2 (PWRD

[2016-12-07 17:42] #37 closed, assigned to prasimix

[2016-12-08 08:21] prasimix opened #42 "Channel tracking"
We have to add channel tracking now when channel coupling infrastructure is added. For SCPI control we have to implement OUTPut:TRACk[:STATe]. For local control we can follow the layout for channel coupling and use different info text like "[Warning sign] Channels tracking active"

[2016-12-08 11:46] prasimix commented on #37
OK, keep us informed about progress. Also it seems that removing JP8 alone is not a wise move. IC31 inputs will left open and undefined. Therefore they have to be connected to +3.3V or another possibility is to remove IC31 completely and add extra wiring directly from Arduino pins A1 and A2 to Q29, Q30 gates.
Hopefully such intervention will not be needed.

[2016-12-08 13:55] mvladic opened #43 "Generate error in event log when Fan turns off the power"

[2016-12-09 13:46] prasimix opened #44 "Suggested user profile description when channels are coupled"
When params are saved into unused user profile suggested description is not correct.

[2016-12-11 08:19] prasimix commented on #41
Error is not implemented on the simulator!

[2016-12-12 09:43] prasimix opened #45 "First time installation wizard"
to simplify setup we'll need a first time installation wizard for setting the following:
* touch-screen calibration
* date/time
* Ethernet connection
* calibration password and system password
* channel calibrations
* Load various default user profiles (e.g. +5V, +3.3V, +/-12V, Tracking, Paraller coupling, Series coupling, etc.)

We can also make visible "First time installation wizard" into syste

[2016-12-14 11:02] prasimix commented on #42
* Disable VOLT:PROG while channels are in tracking mode.
* Simulator's SCPI command shouldn't be affected with tracking mode (e.g. SIMU:LOAD, SIMU:LOAD:STAT, etc.)

[2016-12-14 11:07] prasimix opened #46 "Make table with features matrix when channels are separated, coupled or in tracking mode"
We need a table with the following features availablity when channels are separated, coupled or in tracking mode:
* Protections
* Low ripple
* External voltage programming
* Remote sensing
* Calibration

[2016-12-14 15:31] prasimix opened #47 "System protection settings"
Two system-wide protection feature has to be added:
1. Switch off all outputs when protection tripped (see` OUTPut:PROTection:COUPle`)
1. Shutdown when protection tripped (see `SYSTem:POWer:PROTection:TRIP`)
1. Force disabling of all outputs on power up (see `SYSTem:PON:OUTPut:DISable`)

Use `sys_settings_protections` page to access them on the local console

[2016-12-14 17:29] prasimix opened #48 "Bar graphs full scale"
Replace in bar graphs max. value with limited value. Red line used to indicate limit is no longer needed.

[2016-12-14 17:32] prasimix opened #49 "Invalid fan speed measurement"
Fan speed measurement is frequently returns false value. Possible cause is short measurement time that is probably interrupted by other task.

[2016-12-14 20:18] algaremi commented on #37
Hi. Finally replaced IC31, loaded latest built and upload. Guess what my supply is not fully functional, without any problem. AC/DC module starts when flipping the front power sw, as normal, the Watchdog pulse is normal, no more PWR_PCB faults at startup. Finally the problem was probably a defective IC31 chip... Aslo started the fan and it starts normally at 55C as specified into the eez_psu_sketc

[2016-12-15 08:08] prasimix commented on #42
It's possible to enter coupling mode using SCPI commands while tracking mode is active. Use `313,"Cannot execute in tracking mode"` error to indicate that. We also need that error for VOLT:PROG while channels are in tracking mode.
Also when coupling mode is activated page is not "refreshed" correctly:

![coupled_via_scpi](https://cloud.githubusercontent.com/assets/15106476/21216257/0af5ef0a-c2a6-1

[2016-12-15 10:51] prasimix commented on #42
Fixed

[2016-12-15 10:51] #42 closed, assigned to mvladic

[2016-12-15 11:42] prasimix commented on #46
Fixed, a new section 8.3 is added in SCPI reference guide

[2016-12-15 11:42] #46 closed, assigned to prasimix

[2016-12-16 10:45] prasimix opened #50 "Wrong inital value when channel balancing is activated"
If channels are coupled and balancing is activated (i.e. initially set voltage or current is changed/decreased) when new value is set using _step_ or _slider_ edit, a balanced value will be used as a starting point instead of initally set value.
For example, if voltage was set to 60 V when coupled in series, and balancing corrected it to 30.68 V, later value will we offered as starting point inste

[2016-12-16 13:38] mvladic commented on #50
Fixed!

[2016-12-16 14:36] #50 closed, assigned to mvladic

[2016-12-16 14:54] prasimix commented on #47
Fixed

[2016-12-16 14:54] #47 closed, assigned to mvladic

[2016-12-17 17:12] algaremi commented on #44
I cannot save any user profile from 1 to 9. Power-On profile 0 is working fine. Also I had no problem doing the calibration routine.

[2016-12-19 12:52] prasimix commented on #38
fixed

[2016-12-19 12:52] #38 closed, assigned to mvladic

[2016-12-19 12:52] prasimix commented on #39
fixed

[2016-12-19 12:52] #39 closed, assigned to mvladic

[2016-12-19 13:20] prasimix commented on #29
fixed

[2016-12-19 13:20] #29 closed, assigned to mvladic

[2016-12-19 13:21] prasimix commented on #41
fixed

[2016-12-19 13:21] #41 closed, assigned to mvladic

[2016-12-19 13:47] prasimix commented on #13
fixed

[2016-12-19 13:47] #13 closed, assigned to mvladic

[2016-12-19 13:52] mvladic commented on #44
I added some debug trace logging that should help us investigate the problem. Extract `gui_page_user_profiles.cpp` from the [gui_page_user_profiles.zip](https://github.com/eez-open/psu-firmware/files/661190/gui_page_user_profiles.zip)
 and save it inside `eez_psu_sketch` folder. Try again to save into unused user profile and send me the log from the serial monitor. Thanks!

[2016-12-19 15:26] algaremi commented on #44
Hi. Here the trace just after coming out of standby. Thanks
SB

**TRACE [2016-12-19 10:26:10]: PWR_DIRECT -> HIGH
**TRACE [2016-12-19 10:26:10]: Ch1 GPIO 0x0a
**TRACE [2016-12-19 10:26:10]: Ch2 GPIO 0x0a
**TRACE [2016-12-19 10:26:11]: Fan RPM: 4174
**TRACE [2016-12-19 10:26:19]: Save profile T1
**TRACE [2016-12-19 10:26:19]: Save profile T2
**TRACE [2016-12-19 10:26:19]: Save profile T4
**TRACE [2

[2016-12-19 15:32] mvladic commented on #44
Is every time the same result?

[2016-12-19 15:37] mvladic commented on #44
And please try with the latest version from github.

[2016-12-19 16:29] algaremi commented on #44
On 2016-12-19 10:32, Martin Vladic wrote:

Yes

[2016-12-19 16:30] algaremi commented on #44
On 2016-12-19 10:37, Martin Vladic wrote:

Just installed the latest built and still not working, latest trace:

**TRACE [2016-12-19 11:30:59]: PWR_DIRECT -> HIGH
**TRACE [2016-12-19 11:30:59]: Ch1 GPIO 0x0a
**TRACE [2016-12-19 11:30:59]: Ch2 GPIO 0x0a
**TRACE [2016-12-19 11:31:00]: Fan RPM: 4260
**TRACE [2016-12-19 11:31:08]: Save profile T1
**TRACE [2016-12-19 11:31:08]: Save profile T2
**TRACE

[2016-12-19 19:43] mvladic commented on #44
Thanks! Please try once more with the latest version from the github - I added a few more trace lines.

[2016-12-19 19:50] algaremi commented on #44
Here the trace of the latest built:

**TRACE [2016-12-19 14:50:32]: PWR_DIRECT -> HIGH
**TRACE [2016-12-19 14:50:32]: Ch1 GPIO 0x0a
**TRACE [2016-12-19 14:50:32]: Ch2 GPIO 0x0a
**TRACE [2016-12-19 14:50:33]: Fan RPM: 4230
**TRACE [2016-12-19 14:50:38]: Save profile T7.2.1
**TRACE [2016-12-19 14:50:38]: Save profile T7.2.2
**TRACE [2016-12-19 14:50:38]: Save profile T7.2.8
**TRACE [2016-12-19 14:50

[2016-12-19 19:50] algaremi commented on #44
On 2016-12-19 14:43, Martin Vladic wrote:

**TRACE [2016-12-19 14:50:32]: PWR_DIRECT -> HIGH
**TRACE [2016-12-19 14:50:32]: Ch1 GPIO 0x0a
**TRACE [2016-12-19 14:50:32]: Ch2 GPIO 0x0a
**TRACE [2016-12-19 14:50:33]: Fan RPM: 4230
**TRACE [2016-12-19 14:50:38]: Save profile T7.2.1
**TRACE [2016-12-19 14:50:38]: Save profile T7.2.2
**TRACE [2016-12-19 14:50:38]: Save profile T7.2.8
**TRACE [2016-12-19

[2016-12-19 20:24] mvladic commented on #44
We are getting closer ;) Try again with the latest version. Thanks!

[2016-12-20 00:01] algaremi commented on #44
More progress in the trace but still not working. But I agree there is progress ;)

**TRACE [2016-12-19 19:01:13]: Ch1 GPIO 0x8a
**TRACE [2016-12-19 19:01:13]: Ch1 GPIO 0x88
**TRACE [2016-12-19 19:01:13]: Ch2 GPIO 0x8a
**TRACE [2016-12-19 19:01:13]: Ch2 GPIO 0x88
**TRACE [2016-12-19 19:01:16]: Save profile T7.2.10.1
**TRACE [2016-12-19 19:01:16]: Save profile T7.2.10.2
**TRACE [2016-12-19 19:01:16

[2016-12-20 10:39] mvladic commented on #44
Please try once more with these:

[eez_psu_sketch.zip](https://github.com/eez-open/psu-firmware/files/663480/eez_psu_sketch.zip)

[2016-12-20 11:21] prasimix commented on #48
fixed

[2016-12-20 11:21] #48 closed, assigned to mvladic

[2016-12-20 11:27] #27 closed, assigned to mvladic

[2016-12-20 14:25] prasimix opened #51 "Pasword reset SCPI command"
Two SCPI commands for set default _calibration_ and _system_ password has to be added (if user forgot current password):
* SYSTem:PASSword:CALibrate:RESet
* SYSTem:PASSword:FPANel:RESet

[2016-12-20 16:40] prasimix opened #52 "LOCal/REMote mode of operation, front panel lock"
WebHostingHub-Glyphs font icons 0xF0BF has to be displayed as enabled when front panel (for local control) is unlocked and available. When selected, icon has to be changed to 0xF0BE. When the front panel is locked only that icon [Lock/unlock] remains enabled. To unlock user have to click and wait for 2 seconds and if system password is set, a keyboard page will be opened.
System password can be de

[2016-12-20 17:40] prasimix commented on #32
Fixed

[2016-12-20 17:40] #32 closed, assigned to mvladic

[2016-12-20 17:42] prasimix commented on #21
Fixed

[2016-12-20 17:42] #21 closed, assigned to mvladic

[2016-12-21 09:52] prasimix opened #53 "Click tone"
Add the following code to generate click tone when any option on the TFT display is selected. Only exception is "slider" edit mode:

[code]
By default this option is disabled and can be controlled using SYST:BEEP:KEY:STAT or Sound settings page.

[2016-12-21 15:24] algaremi commented on #44
Problem with Couped Channel, Serial mode, here the trace:
**TRACE [2016-12-21 10:24:22]: Ch1 GPIO 0x8a
**TRACE [2016-12-21 10:24:22]: Ch1 GPIO 0x88
**TRACE [2016-12-21 10:24:22]: Ch2 GPIO 0x8a
**TRACE [2016-12-21 10:24:22]: Ch2 GPIO 0x88
**TRACE [2016-12-21 10:24:24]: Channel voltage balancing: CH1_Umon=6.349267, CH2_Umon=-0.667605
**TRACE [2016-12-21 10:24:32]: Last watchdog impulse was before 66

[2016-12-21 15:32] algaremi commented on #44
Loaded latest built, put back gui_page_user_profiles.cpp file, tried to save. There is less trace steps:
**TRACE [2016-12-21 10:33:17]: Ch1 GPIO 0x8a
**TRACE [2016-12-21 10:33:18]: Ch1 GPIO 0x88
**TRACE [2016-12-21 10:33:18]: Ch2 GPIO 0x8a
**TRACE [2016-12-21 10:33:18]: Ch2 GPIO 0x88
**TRACE [2016-12-21 10:33:24]: Save profile T1
**TRACE [2016-12-21 10:33:24]: Save profile T2
**TRACE [2016-12-21 1

[2016-12-21 15:54] mvladic commented on #44
Please try with the files from the zip file I attached in my last comment from two days ago.

[2016-12-21 16:01] algaremi commented on #44
On 2016-12-21 10:54, Martin Vladic wrote:

Sorry I lost track of time in the last two days, I was sick and stuck to
bed, Felling still weak, but I'm trying the files at this moment. Will
report in a few minutes. Thanks
SB

[2016-12-21 16:05] algaremi commented on #44
Sorry, retried with the proper traces files, here the trace:
**TRACE [2016-12-21 11:05:48]: Ch1 GPIO 0x8a
**TRACE [2016-12-21 11:05:48]: Ch1 GPIO 0x88
**TRACE [2016-12-21 11:05:49]: Ch1 GPIO 0x08
**TRACE [2016-12-21 11:05:50]: Ch1 GPIO 0x0a
**TRACE [2016-12-21 11:05:54]: Save profile T1
**TRACE [2016-12-21 11:05:54]: T1
**TRACE [2016-12-21 11:05:54]: T2
**TRACE [2016-12-21 11:05:54]: T2.1
**TRACE

[2016-12-21 16:28] mvladic commented on #44
Once more, please.

[eez_psu_sketch.zip](https://github.com/eez-open/psu-firmware/files/666852/eez_psu_sketch.zip)

[2016-12-21 16:38] algaremi commented on #44
Here with the latest files:

**TRACE [2016-12-21 11:39:13]: Ch1 GPIO 0x08
**TRACE [2016-12-21 11:39:13]: Ch1 GPIO 0x0a
**TRACE [2016-12-21 11:39:13]: Ch2 GPIO 0x08
**TRACE [2016-12-21 11:39:13]: Ch2 GPIO 0x0a
**TRACE [2016-12-21 11:39:19]: T2.7
**TRACE [2016-12-21 11:39:20]: T2.7.1
**TRACE [2016-12-21 11:39:20]: T2.7.2

[2016-12-21 16:56] mvladic commented on #44
Now?

[eez_psu_sketch.zip](https://github.com/eez-open/psu-firmware/files/666903/eez_psu_sketch.zip)

[2016-12-21 17:16] algaremi commented on #44
Trace:
**TRACE [2016-12-21 12:17:10]: Ch1 GPIO 0x8a
**TRACE [2016-12-21 12:17:10]: Ch1 GPIO 0x88
**TRACE [2016-12-21 12:17:10]: Ch2 GPIO 0x8a
**TRACE [2016-12-21 12:17:10]: Ch2 GPIO 0x88
**TRACE [2016-12-21 12:17:15]: T2.7
**TRACE [2016-12-21 12:17:15]: T2.7.1
**TRACE [2016-12-21 12:17:15]: T2.7.2 1
**TRACE [2016-12-21 12:17:15]: T2.7.3
**TRACE [2016-12-21 12:17:15]: T2.7.4
**TRACE [2016-12-21 12:

[2016-12-21 17:25] mvladic commented on #44
Still doesn't work? Is there any change compared how it was at the beginning when you first reported this problem?

[2016-12-21 18:32] algaremi commented on #44
On 2016-12-21 12:25, Martin Vladic wrote:

No same problem, I cannot save any user profile.

SB

[2016-12-21 19:54] mvladic commented on #44
When you press the save button do you see the onscreen keyboard or it freezes immediately after you press the save button?

Please try again with these:

[eez_psu_sketch.zip](https://github.com/eez-open/psu-firmware/files/667216/eez_psu_sketch.zip)

BTW I really appreciate your patience. Thanks!

[2016-12-22 17:13] algaremi commented on #44
Hi. No I don't see the onscreen keyboard, it freezes  immediately after you press the save button. I'm trying your file now. Thanks

[2016-12-22 17:18] algaremi commented on #44
The trace is somewhat different now, see below. Again I haven't seen the onscreen keyboard. Thanks

**TRACE [2016-12-22 12:19:32]: Ch1 GPIO 0x8a
**TRACE [2016-12-22 12:19:32]: Ch1 GPIO 0x88
**TRACE [2016-12-22 12:19:44]: T01
**TRACE [2016-12-22 12:19:44]: T0.1: 0
**TRACE [2016-12-22 12:19:45]: T0.2: 0
**TRACE [2016-12-22 12:19:45]: T0.3
**TRACE [2016-12-22 12:19:45]: T0.4: 0
**TRACE [2016-12-22 12

[2016-12-22 17:29] mvladic commented on #44
Did you changed anything in conf_user.h?

[2016-12-22 17:37] mvladic commented on #44
Please try this:
[gui_keypad.zip](https://github.com/eez-open/psu-firmware/files/669415/gui_keypad.zip)

[2016-12-22 17:40] algaremi commented on #44
I used to changed Watchdog parameters, but I think I have the standard version now, Here what I have: /** @file conf_user.h
@brief Configuration overrided by the user.
Use this header file to override anything from conf.h or conf_advanced.h.
*/

#pragma once

#define ETHERNET_MAC_ADDRESS { 0x74, 0x69, 0x69, 0x2D, 0x30, 0x00 }

// Example: redefine channels
/*
#undef CHANNELS
#define CHANNELS \

[2016-12-22 17:54] algaremi commented on #44
Still not working, no keyboard, but new trace:
**TRACE [2016-12-22 12:55:20]: Ch1 GPIO 0x8a
**TRACE [2016-12-22 12:55:20]: Ch1 GPIO 0x88
**TRACE [2016-12-22 12:55:25]: T01
**TRACE [2016-12-22 12:55:25]: T0.1: 0
**TRACE [2016-12-22 12:55:25]: T0.2: 0
**TRACE [2016-12-22 12:55:25]: T0.3
**TRACE [2016-12-22 12:55:25]: T0.4: 0
**TRACE [2016-12-22 12:55:25]: T0.5: 0
**TRACE [2016-12-22 12:55:25]: T0.6:

[2016-12-22 18:05] mvladic commented on #44
Once more:
[profile.zip](https://github.com/eez-open/psu-firmware/files/669466/profile.zip)

[2016-12-22 18:19] algaremi commented on #44
It Worked! Everything seems to work now, just like magic ;) Tried to save 3 user profile so far with independant supplies or parallel couplig, and recalled either of the saved profiles. Supply reconfigured according to the save profile without problem. Also tried to delete a profile and it worked as well. The bug seems to have been completly solved. Thanks guys.

Here the trace of the save ones, i

[2016-12-22 18:24] mvladic commented on #44
Great! :) Thanks for helping us hunting this nasty bug. I removed all the trace lines and leaved just a bug fix. You can pull the latest version.

[2016-12-22 18:32] algaremi commented on #44
No problem, thanks to you guys. The save profile function is really a great tool. SB

[2016-12-22 18:33] algaremi commented on #44
BTW I just tried the 'git pull' but since I over-writed a lots of files, Git doesn't proceed unless I do a commit. I tried to find the answer but it is not clear.How can I force Git to download the latest version? Thanks
SB

[2016-12-22 18:42] mvladic commented on #44
You should discard all local changes before pull.  Try this one:

[code]

[2016-12-22 18:46] mvladic commented on #44
or:

[code]

[2016-12-22 19:35] algaremi commented on #44
On 2016-12-22 13:46, Martin Vladic wrote:

Tx

SB

[2016-12-23 08:40] prasimix commented on #44
Fixed

[2016-12-23 08:40] #44 closed, assigned to mvladic

[2016-12-23 13:42] prasimix commented on #49
fixed

[2016-12-23 13:42] #49 closed, assigned to mvladic

[2016-12-23 16:03] prasimix opened #54 "Settling time in tracking mode is too high"
Something is happen in some of recent builds that settling time for output enable/disable when channels are in tracking mode is slowed down for many hundred of times. Initially that time was about 120us:

![fast settling rising](https://cloud.githubusercontent.com/assets/15106476/21457609/f463594e-c930-11e6-8d8c-ccb05e486455.png)

![fast settling falling](https://cloud.githubusercontent.com/assets

[2016-12-24 15:05] prasimix opened #55 "Incorrect bar graph full scale in tracking mode"
If channels had set different limits and enters tracking mode, the full scale will not be displayed correctly in bar graph views. For example (volt limits was 39.99 and 5 V):

[code]
With equal loads on both channels I got the following:

![pic_3415](https://cloud.githubusercontent.com/assets/15106476/21467558/6037375a-c9f2-11e6-8f75-a2f8915027ff.JPG)

Neither bar graph are displayed correctly.

[2016-12-27 22:33] prasimix commented on #51
Fixed

[2016-12-27 22:33] #51 closed, assigned to mvladic

[2016-12-27 22:34] prasimix commented on #52
Fixed

[2016-12-27 22:34] #52 closed, assigned to mvladic

[2016-12-28 08:53] prasimix opened #56 "Downprogrammer when output is switched off in PARallel coupling mode"
When output off is initiated in PARallel coupling mode, before execute output off code we need to switch on both downprogrammers to insure discharge of output capacitors.

[2016-12-28 10:26] prasimix commented on #55
Fixed

[2016-12-28 10:26] #55 closed, assigned to mvladic

[2016-12-28 11:04] prasimix commented on #54
Fixed

[2016-12-28 11:04] #54 closed, assigned to mvladic

[2016-12-28 14:18] prasimix commented on #56
Fixed

[2016-12-28 14:18] #56 closed, assigned to mvladic

[2016-12-28 14:20] prasimix commented on #30
Added autorepeat only. Cursor "insert" mode has to be added in the future.

[2016-12-28 14:20] #30 closed, assigned to mvladic

[2016-12-28 16:09] prasimix commented on #53
Fixed

[2016-12-28 16:09] #53 closed, assigned to mvladic

[2016-12-30 03:08] algaremi commented on #44
Hi. Just to let you know that I just updated the PSU firmware and I'm
locked out of the user screen. I can see a 'Lock' icon on the bottom,
but I cannot do anything else. Is it a new feature, and if yes how can I
unlock it? If not, it is a bug I'm afraid.
If I press the lock, the buzzer bip, but nothing else...

[2016-12-30 08:47] mvladic commented on #44
You should be able to unlock if you press lock/unlock button for more then 2 seconds.

[2016-12-30 09:32] prasimix opened #57 "YT view mode"
We should try to add YT view mode for presenting output voltage, current or both values simultaneously. If only one value is displayed as YT graph, another one has to be displayed as number.

[2016-12-30 10:15] prasimix opened #58 "Triggering infrastructure"
A triggering infrastructure will allow us to control various actives via SCPI commands remotely, locally or using digital input pin on the front panel (when `TRIGger[:SEQuence]:SOURce PIN1`, See also `[SOURce:]DIGital:PIN<n>:FUNCtion` and `[SOURce:]DIGital:PIN<n>:POLarity`). The following SCPI subsystems have to be supported:
* `*TRG` (see also `*OPC`, `*WAI`)
* `ABORt`
* `INITiate`
* `TRIGger`

[2016-12-30 14:02] prasimix opened #59 "Ethernet communication stops working in M3"
Due to change in SPI transactions handling the Ethernet communication stops working.

[2016-12-30 14:06] prasimix commented on #59
When Ethernet is disabled with `#define OPTION_ETHERNET 0` it results with the following compilation error:
[code]

[2016-12-30 14:14] algaremi commented on #44
It works, Great. TxSB                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry 10 smartphone on the Rogers

[2016-12-30 14:20] mvladic commented on #59
Compilation error is fixed!

[2016-12-31 09:49] prasimix opened #60 "Local console unlock when in REMote mode"
When `SYST:REM` is executed, unlocking local console (TFT) is not possible. If unlock is selected the PSU will remain in the REMote mode. Therefore we have to change the mode if unlock was successful.

[2016-12-31 14:32] mvladic commented on #60
Fixed!

[2016-12-31 14:36] #60 closed, assigned to mvladic

[2017-01-01 15:47] prasimix opened #61 "LRIP and POWer info on Step and Slider pages"
We are missing LRIP and POWer info on Step and Slider pages when channels are coupled or in tracking mode. Only one instead of both channel's info are displayed. Since we don't have enough space to use POWer font size when uncoupled/untracked a smaller fonts has to be selected.
I tried to do that in Studio but without success.

[2017-01-02 08:15] #61 closed, assigned to prasimix

[2017-01-03 15:51] algaremi commented on #59
One issue with Ethernet no longer working if that if we activate the Ethernet, and restart the PSU, the unit stays locked out on the 'Waiting for Ehternet' screen. The only solution I found was to add these two lines:
#undef OPTION_ETHERNET
#define OPTION_ETHERNET 0
 into conf_user.h to deactivate the Ethernet and upload the firmware again.

I don't know the code, but I would recommed using a time

[2017-01-03 15:55] prasimix commented on #59
We are aware of that, and due to issue with interrupts handling that cause us a lots of trouble before, now PSU blocks in delay function called in Ethernet initialization! Keep for a while Ethernet disable and we'll write about progress here.

[2017-01-03 16:06] algaremi commented on #59
Thanks for the update. I'l wait for the next development. SB

[2017-01-04 13:08] prasimix opened #62 "Monitoring max. power while channels are coupled in PARallel"
We need to include into balancing monitoring of max. power. The problem become visible when output voltage is set to max. and with connected load power on single channel can exceed capability of the AC/DC module (that is 155 W). When that is happen, it seems that AC/DC module cannot deliver needed output voltage and as results a significant oscillation can be recorded on the PSU output, not due to

[2017-01-04 15:27] mvladic commented on #59
Fixed!

[2017-01-04 16:42] prasimix opened #63 "Remote programming and voltage limit"
When voltage programming is selected on the channel (VOLT:RPOG EXT) we need to set VOLT:LIM to MAXimum.

[2017-01-04 16:42] #59 closed, assigned to mvladic

[2017-01-09 17:25] Badger16438 opened #64 "10.2 Voltage and Current Calibration"
Following the Voltage and Calibration Guide:

INST CH1
OUTP 1
VOLT:PROT:STAT OFF
POW:PROT:STAT OFF
CURR:PROT:STAT OFF
CAL ON, "eezpsu"
CAL:VOLT:LEV MIN
CAL:VOLT 0.00
CAL:VOLT:LEV MID

When MID voltage level is selected, no output is measured from the power supply. If I issue a "CURR 0.5" to increase the current enough for the power supply to enter CV mode, voltage appears on the output.  I have no

[2017-01-09 17:37] prasimix commented on #64
When channel is in voltage calibration mode no additional CURR programming is needed.
Also please note that _no load_ has to be connected! The MIDdle point should be somewhere about 19 V. When you say no output, does it mean something down to zero?
Please also let me know if you add in your `conf_user.h` the following (if you don't have TFT display installed):
[code]

[2017-01-09 17:38] Badger16438 commented on #64
No load connected. I shall test with display option of 0 now.

[2017-01-09 17:48] Badger16438 commented on #64
With Option_Display set to 0 and the Power supply reflashed, the following was typed into the serial console:

INST CH1
OUTP 1
VOLT:PROT:STAT OFF
POW:PROT:STAT OFF
CURR:PROT:STAT OFF
CAL ON, "eezpsu"
CAL:VOLT:LEV MIN
CAL:VOLT 0.692
CAL:VOLT:LEV MID

The output voltage remains at 0.692v

if I end Calibration and type the following:

cal off, "eezpsu"
volt 5
curr 1

I end up with 2.97v output.

Volt

[2017-01-09 18:01] Badger16438 commented on #64
I performed the same Calibration example on CH 2 with the same results (slightly differing voltages - As to be expected).

[2017-01-09 18:14] prasimix commented on #64
Ok, so it seems that when uncalibrated you have expected output values with some tolerance (e.g. +/- 20-30 mV)?
Please let me know what values you are using for R50 and R60 on the Power board: 20K or 22K?
If nether CC or CV is active please check what R97 is 5K6 and R102 is 4K7 (that two values was mistakenly swapped in older release. They should be fine on r5B10 but double check. Do you have that

[2017-01-09 18:25] Badger16438 commented on #64
R50 & R60 = 223 =  22k
R97 = 5601 = 5k6
R102 = 4701 = 4k7

The LEDs have never lit, I have double checked polarity and soldering on the LED driver. I presume the LED driver is operating correctly, since the Output LEDs light correctly and no errors are reported. I assumed the LEDs were a separate issue.

Regarding the tolerance, as I approach 30v, yes i'm getting 29.6v which isn't too far away. Se

[2017-01-09 18:27] prasimix commented on #64
What you have as the input? You need to have min. 46VDC if you want to reach full 40V on the output

[2017-01-09 18:34] Badger16438 commented on #64
Rectified voltage across the main filter caps is 49.5v

[2017-01-09 18:42] prasimix commented on #64
Ok, so you can go up to approx. 40V in that case (e.g. when send VOLT MAX)?

[2017-01-09 18:43] Badger16438 commented on #64
No. only 38.9v Currently.

[2017-01-09 18:45] prasimix commented on #64
You can use this simple sketch to check if all LEDs and relays on the Arduino board are working.
**Do not test it with Power board connected!**

[TLC5925_BP_TEST_r3B4.zip](https://github.com/eez-open/psu-firmware/files/694366/TLC5925_BP_TEST_r3B4.zip)

[2017-01-09 18:51] prasimix commented on #64
OK, 38.9V is a little bit below expected tolerance, but it's still strange that you cannot get MIDdle point while calibrating. Did you check all bias power: +/-5V for analog, +5V digital, and that +2.5V is on the voltage reference?

[2017-01-10 11:07] Badger16438 commented on #64
Hi, Have checked all components positions and all looks good. The +/- 5V is ok, +5v Digital is good and the +2.5v Reference measured at C67 is good. The only difference between the original schematic and my build is the removal of R30, R33, Q6 current limiter components. I do notice that R32 next to Q4 is marked 2k2 on my schematic, however on R5B11 its been changed to 1k. I also note that JP9-0R

[2017-01-10 11:13] prasimix commented on #64
Oh, it seems that we know where is the problem :) Please move JP9-0R to the ground because that new offset feature that will allow us to go down to 0 when calibrated is still not supported into firmware!

[2017-01-10 11:13] prasimix commented on #64
R32 of 1K is fine, just leave it as is.

[2017-01-10 11:19] prasimix commented on #64
@mvladic: introduce new power board version (r5B10) on that board we have to take into consideration initial offset (50-100 mV)

@Badger16438: R70 could be increased from 5K1 to 10K since 50 mV offsets should be enough, but we'll let you know.

[2017-01-10 11:22] Badger16438 commented on #64
I can confirm switching JP9 over and changing R32 to 1k 1% corrects the voltage issue. Many thanks for the LED / Relay test sketch, that Identified one LED - LED_SP, which wasn't soldered correctly.

Many thanks for your help :) Good luck with your crowdfunding - I'll be sure to pledge :)

[2017-01-10 11:27] prasimix commented on #64
Thanks to your valuable feedback too. You are actually ahead of us with revision, and that is a good reason for us to hurry with adding new board type and calibration into firmware ;)

[2017-01-10 13:42] Badger16438 commented on #64
I look forward to your updates - I've backed your Crowd supply project for some more bare pcb's.

[2017-01-15 09:49] prasimix opened #65 "Excel script for LIST subsystem"
This could be a great example how to use 3rd party application (Excel) for remote programming of output voltage and current waveform.

[2017-01-15 09:54] prasimix opened #66 "Adaptive protections"
When a new output value is set, we can add an option that e.g. OCP is enabled after x amount of time (in seconds). In addition we can after the same delay reduce max. current to last measured value increased by some percentage (e.g. 10 or 20%).

[2017-01-15 12:54] prasimix opened #67 "Output voltage offset when Rsense is not active"
Maybe we should think about voltage offset when Rsense is _not_ active. This issue is relate to the fact that due to built-in coupling circuity sense inputs are not connected right to the output terminals. Therefore with increased current we can expect significant drop when voltage is measured right on the output terminals. That can be corrected by calculating resistance value of the path between

[2017-01-15 14:38] prasimix opened #68 "LRIPple clean up"
There is not need for taking into account pre-reg mosfet _Imax_ since it could always be a max allowable (i.e. 5 A for 5A model). Therefore we can remove that info from Low ripple channel advanced page and display calculated power dissipation on the post-regulator mosfet when LRIP is allowed. Otherwise display N/A (see updated project file).

[2017-01-17 16:07] prasimix commented on #57
Set VOLT:LIM to MAX when remote programming is enabled.
Check once again is remote programming bit turned off when coupling is intiate while channel was in remote programming mode.

[2017-01-17 16:14] prasimix opened #69 "Limit error and option to change it"
Sometimes is very unpractical when set output value reach limit that only an error is displayed without possibility to forward user directly to page where limit can be changed.

[2017-01-17 17:20] prasimix opened #70 "Channel display view settings"
New added YT-view require now that sampling speed can be somewhere define. We'll take this opportunity to add possibility that user can define what will be displayed as first and second value (or graph). A new page _ch_settings_adv_view_ is added into project (reachable via _ch_settings_adv_ page) and we need radio-button control to select one of the following items:

1. Voltage (V)
1. Current (A)

[2017-01-18 07:30] prasimix commented on #68
Fixed

[2017-01-18 07:30] #68 closed, assigned to mvladic

[2017-01-18 07:37] prasimix opened #71 "Cannot switch the value on step page after power up"
This one is weird: if you after power up enters _step_ page and try to toggle between values (e.g. from set voltage to set current) you'll got only beep. Once when move to _keypad_ and toggle that there it will continue to work on _step_ page too.

[2017-01-18 09:24] prasimix commented on #71
This is frustrating because I cannot reproduce that every single time!

[2017-01-18 17:51] prasimix opened #72 "Add support for encoder"
Encoder support should include the following features:
1. When encoder is enabled (add this as a new option into `conf.h`) one can use encoder immediately on main page.
1. Also if encoder is enabled allow change of output values on all other pages that contains channel info on the right side.
1. We can add encoder also on the keypad page
1. When encoder switch is pushed (`ENC_SW` input) generate c

[2017-01-18 18:57] prasimix commented on #57
CH2 window is shifted to right for 1-2 pixels:

![yt-view ch2](https://cloud.githubusercontent.com/assets/15106476/22078456/4858d25e-ddb8-11e6-9640-3b93862d57a6.png)

[2017-01-19 08:59] prasimix opened #73 "Energy counters and display settings"
This is a follow up on #70: under display view settings we have to offer two more options:
- Energy (Wh)
- Energy (Ah)

Also we need new counters per channels for total energy delivered and after last reset (not OE).
SCPI commands have to be defined, too.

[2017-01-19 09:27] prasimix commented on #63
Fixed

[2017-01-19 09:27] #63 closed, assigned to mvladic

[2017-01-19 09:28] prasimix commented on #57
Fixed

[2017-01-19 09:28] #57 closed, assigned to mvladic

[2017-01-19 15:17] #70 closed, assigned to mvladic

[2017-01-21 14:12] prasimix opened #74 "Enable OE selection on all pages with channel output info"
This one is related to changes announced with #72: OE should be possible on all pages with channel output info not just on the main page.

[2017-01-22 13:53] prasimix opened #75 "Sketch compilation when OPTION_DISPLAY 0 without display lib"
If `OPTION_DISPLAY 0` and display library is not present in Arduino library folder the sketch compilation should not return any error. Currently we get:

[code]

[2017-01-23 14:10] prasimix commented on #75
Fixed

[2017-01-23 14:10] #75 closed, assigned to mvladic

[2017-01-23 14:35] prasimix commented on #24
See also #75

[2017-01-23 14:36] prasimix commented on #74
Fixed

[2017-01-23 14:36] #74 closed, assigned to mvladic

[2017-01-25 07:46] prasimix commented on #69
Fixed

[2017-01-25 07:46] #69 closed, assigned to mvladic

[2017-01-25 12:15] dsaltas opened #76 "Touch screen calibration stuck."
I am getting stuck on touch screen calibration. Touching yes or anything else just draws a point and I cannot continue. But if disable the external eeprom and reupload I don't have that issue. But again I have to calibrate the screen each time the psu starts. AT25256 is installed.
The DIAG:INFO:TEST? Returns the following among others "1, EEPROM, installed, passed"
I am having for now only ch#1 in

[2017-01-25 12:18] prasimix commented on #76
Please send us serial monitor printout while calibration is in progress.

[2017-01-25 12:32] dsaltas commented on #76
EEZ PSU serial com ready
**TRACE: Touch modification ENABLED
**TRACE [2017-01-25 14:32:32]: PWR_DIRECT -> HIGH
**TRACE [2017-01-25 14:32:32]: Fan RPM: 4079
**TRACE [2017-01-25 14:32:41]: Calibration point: 3574, 432
**TRACE [2017-01-25 14:32:42]: Calibration point: 3576, 435
**TRACE [2017-01-25 14:32:42]: Calibration point: 3576, 435
**TRACE [2017-01-25 14:32:44]: Calibration point: 416, 3504
**TR

[2017-01-25 12:41] mvladic commented on #76
Please, unzip following file and copy `touch_calibration.cpp` inside `eez_psu_sketch` folder:

[touch_calibration.zip](https://github.com/eez-open/psu-firmware/files/729671/touch_calibration.zip)

Test again and send us serial monitor printout.
Thanks!

[2017-01-25 12:49] dsaltas commented on #76
EEZ PSU serial com ready
**TRACE: Touch modification ENABLED
**TRACE [2017-01-25 14:50:09]: PWR_DIRECT -> HIGH
**TRACE [2017-01-25 14:50:10]: Fan RPM: 4107
**TRACE [2017-01-25 14:50:17]: Calibration point: 3518, 524
**TRACE [2017-01-25 14:50:17]: Calibration point: 3518, 524
**TRACE [2017-01-25 14:50:18]: Calibration point: 492, 3376
**TRACE [2017-01-25 14:50:18]: Calibration point: 506, 3380
**TR

[2017-01-25 12:59] mvladic commented on #76
Can you see "Save changes" page?

[2017-01-25 13:06] dsaltas commented on #76
Yes. Look.
![img_0173](https://cloud.githubusercontent.com/assets/25344655/22291538/9764e1a6-e30f-11e6-8735-4ae49c12907f.jpg)

[2017-01-25 13:40] mvladic commented on #76
With this change:

[gui.zip](https://github.com/eez-open/psu-firmware/files/729813/gui.zip)

please try the same thing - touching Yes while in "Save changes?" page.
Thanks!

[2017-01-25 13:45] dsaltas commented on #76
Can't compile. I got these errors.

sketch/gui.cpp: In function 'eez::psu::gui::Page* eez::psu::gui::createPageFromId(int)':
gui.cpp:136: error: 'PAGE_ID_CH_SETTINGS_ADV_VIEW' was not declared in this scope
     case PAGE_ID_CH_SETTINGS_ADV_VIEW: return new ChSettingsAdvViewPage();

          ^
gui.cpp:136: error: expected type-specifier before 'ChSettingsAdvViewPage'
     case PAGE_ID_CH_SETTINGS

[2017-01-25 13:50] mvladic commented on #76
I think you don't have the latest version but M3 version. If true please try with this:

[gui.zip](https://github.com/eez-open/psu-firmware/files/729836/gui.zip)

Thanks!

[2017-01-25 13:56] dsaltas commented on #76
Yes, I have M3 version.

EEZ PSU serial com ready
**TRACE: Touch modification ENABLED
**TRACE [2017-01-25 15:56:23]: PWR_DIRECT -> HIGH
**TRACE [2017-01-25 15:56:23]: Fan RPM: 4079
**TRACE [2017-01-25 15:56:39]: Calibration point: 3555, 402
**TRACE [2017-01-25 15:56:39]: Calibration point: 3555, 402
**TRACE [2017-01-25 15:56:41]: Calibration point: 399, 3455
**TRACE [2017-01-25 15:56:41]: Calibrat

[2017-01-25 14:13] mvladic commented on #76
Please, make the same test with this:

[gui.zip](https://github.com/eez-open/psu-firmware/files/729907/gui.zip)

Thanks!

[2017-01-25 14:18] dsaltas commented on #76
Here are the results.

EEZ PSU serial com ready
**TRACE: Touch modification ENABLED
**TRACE [2017-01-25 16:19:06]: PWR_DIRECT -> HIGH
**TRACE [2017-01-25 16:19:06]: Fan RPM: 4079
**TRACE [2017-01-25 16:19:12]: TG1
**TRACE [2017-01-25 16:19:13]: TG2
**TRACE [2017-01-25 16:19:14]: Calibration point: 3551, 409
**TRACE [2017-01-25 16:19:14]: Calibration point: 3551, 409
**TRACE [2017-01-25 16:19:15]:

[2017-01-25 14:34] mvladic commented on #76
I think your device, due to the bug in our code, started with screen locked. With this change you should be able to finish calibration:

[eez_psu_sketch.zip](https://github.com/eez-open/psu-firmware/files/729956/eez_psu_sketch.zip)

But, as I said, screen will be locked so you need to press unlock button for 2 seconds to unlock the screen.

[2017-01-25 14:40] dsaltas commented on #76
I get an error while compiling.

gui.cpp:1973: error: macro "DebugTrace" passed 2 arguments, but takes just 1
             DebugTrace("TG4 %ud", found_widget.widgetOffset);

                                                            ^
sketch/gui.cpp: In function 'void eez::psu::gui::tick(long unsigned int)':
gui.cpp:1973: error: 'DebugTrace' was not declared in this scope
             DebugTrace(

[2017-01-25 14:44] mvladic commented on #76
Ah, sorry! Please, try with this:

[eez_psu_sketch.zip](https://github.com/eez-open/psu-firmware/files/729980/eez_psu_sketch.zip)

[2017-01-25 14:45] mvladic commented on #76
The latest version also has this bug. We will probably make another M3 release with this bug fixed.

[2017-01-25 14:48] dsaltas commented on #76
It's working!!!

Many thanks!

[2017-01-25 14:50] mvladic commented on #76
Thank you for your great assistance in catching this bug!

[2017-01-25 23:10] prasimix commented on #72
When enters keypad page and encoder is enabled, use currently set value (e.g.OVP that is set to 20 V) instead of empty value that corresponds to 0.00 V.

[2017-01-27 09:15] prasimix commented on #72
Ignore switch push if limit exceed error is displayed and `Selection` option is selected.

[2017-01-29 08:12] prasimix opened #77 "CR, LF support in SCPI parser"
Check what combination of CR and LF is supported in SCPI parser.

[2017-02-03 18:21] romain145 opened #78 "Suspicious file for antivirus"
The installer and the executable were treated as suspicious files by AVG Free.
I made a report saying that I trust both.
AVG answered and whitelisted the executable.

- Can someone else confirm that AVG is happy now?
- Other antivirus need to be checked, and recognise the file as safe.

[2017-02-04 08:50] electrokean commented on #78
I presume you're referring to the Simulator application for Windows?
I just submitted the installer to VirusTotal.com and it came back as clean on 54/55, except on Qihoo-360
https://www.virustotal.com/en/file/3736d23ed54e8c6a9b15332e5c9c70d049b6cd89f6a3ee6b8e239d7c193d5761/analysis/1486198048/

[2017-02-06 17:49] prasimix commented on #58
For `TRIGger[:SEQuence]:SOURce KEY` use encoder switch instead of button displayed on the TFT display. Change `KEY` to `MANual`

[2017-02-06 23:06] prasimix commented on #58
POSitive and NEGative SLOPe seems that are exchanged. ~Also for better control a new command has to be added: `TRIGger[:SEQuence]:TYPE {EDGE|LEVel}` where `EDGE` is default.~

[2017-02-08 21:11] prasimix commented on #76
Fixed

[2017-02-08 21:11] #76 closed, assigned to mvladic

[2017-02-08 21:11] prasimix commented on #72
Fixed

[2017-02-08 21:11] #72 closed, assigned to mvladic

[2017-02-09 08:34] prasimix commented on #64
This can be now tested on the r5B10 Power board using the latest firmware build. To change board model please add the following code into your `conf_user.h `file:

[code]
After calibration both voltage and current could be set down to zero, but for the max level we'll need to change resistors values that will be reported here.
Also please take into account that channels will displays UR mode inste

[2017-02-10 11:27] prasimix commented on #64
To fix CC/CV indications change R97, R102 to e.g. 10K.
Increase R50, R60 to 24K to reach max. range of 40 V.

[2017-02-10 12:29] prasimix opened #79 "Displaying calibration values"
Display calibration values in better precision at least for one decimal place better the set precision (i.e. 1 mV for 10 mV precision).

[2017-02-10 12:31] prasimix opened #80 "Self test improvement"
Add into self test checking of SD card and Ethernet W5500 controller it that options are enabled.
For W5500 self test maybe some ideas could be found in [Ethernet3](https://github.com/sstaub/Ethernet3) or [W5500_Test](https://github.com/systronix/W5500_Test) libraries.

Check also if soft reset function from Ethernet3 could be used for enable/disable Ethernet communication without hard reset.

[2017-02-10 15:22] dagema opened #81 "Enhance firmware/software to provide features of a Source Measurement Unit"
Since the PS currently has both sourcing outputs and sensing inputs, it would seem possible to enhance the firmware/software to make it able to function as an [SMU](https://en.wikipedia.org/wiki/Source_measure_unit).

An extremely simplified example of the concept can be seen [here](http://www.changpuak.ch/electronics/Curve_Tracer.php).

and a professional modern product showing many of the possib

[2017-02-11 15:53] prasimix commented on #64
Calibration tested with r5B10 when reference GND is increased to ~50 mV.

[2017-02-11 15:53] #64 closed, assigned to mvladic

[2017-02-12 13:58] prasimix commented on #58
SLOPe polarity is now fixed.

[2017-02-12 15:50] prasimix commented on #58
We need clarification regarding inital TRIGGered value for VOLTage and CURRent and when trigger is executed. For example if `*RST` is applied we have:
[code]
... and when triggered value is once set it is not clear does it persist to the next triggering event or not. This is important to know if we'd like to introduce `OUTP:TRIG` command since we have to know what will be set as new VOLT when next

[2017-02-12 16:24] prasimix commented on #67
I tried to measure voltage drop on CH1 and it seems that wiring resistance between point of internal sensing and output terminals is 40 mOhms:

![image](https://cloud.githubusercontent.com/assets/15106476/22863869/e926b028-f147-11e6-9f97-b497f0cfd211.png)

[2017-02-15 18:26] dsaltas opened #82 "Power supply freezes when controlling it over ethernet"
I was playing around controlling the psu over ethernet and noticed a few issues. Using telnet I managed to stay connected for half an hour with the psu and all my commands were executed flawlessly. I closed connection manually. No problems with that. Then I saw in the forum "eez-remote.py" a python script which controls the psu over ethernet. I ran it and although it managed to connect with the ps

[2017-02-15 19:43] dsaltas opened #83 "IP address is flickering"
When one or both outputs are ON the IP address on the ethernet settings panel is flickering making it very difficult to read.

[2017-02-19 14:02] prasimix opened #84 "Encoder confirmation mode timeout"
When encoder's confirmation mode is selected and output value is changed but not confirmed you have to select on the touchscreen some other option (e.g. system or channel settings) to discard such change.
Maybe we should introduce here a timeout of e.g. 15 or more sec when changed but not confirmed value will be reset to current one.

[2017-02-22 07:46] prasimix opened #85 "Display brightness when OPTION_DISPLAY is off"
Turn off display brightness when `OPTION_DISPLAY` is set to off

[2017-02-22 22:36] prasimix commented on #58
Short version ABOR is not accepted.

[2017-02-23 07:52] prasimix commented on #83
This issue is related to interrupts. When ADC interrupts are disabled (`ADC_USE_INTERRUPTS 0`) flickering disappear.

[2017-02-23 14:46] prasimix commented on #14
This is a fringe case that require attention. The OVP cannot be triggered if LIST:DWELl time is below ~3 ms (1 ms is set into example that follows). To reproduce this issue, connect load (e.g. 3R3) and execute the following code:
[code]
With connected load channel will be in CC mode, and when disconnected the OVP should tripped (set to 20V) but that is not going to happen.

[2017-02-25 08:54] prasimix commented on #14
Channel's output values that is included into list (i.e. `VOLTage:MODE LIST` and/or `CURRent:MODE LIST`) should be disabled for further changes locally and remotely when LIST is active. That has to be restored when LIST execution is interrupted.

[2017-02-26 09:07] prasimix commented on #65
Duplicated, see #16

[2017-02-26 09:07] #65 closed, assigned to mvladic

[2017-02-26 09:14] prasimix commented on #82
It could be caused by unresolved issue of using interrupts and SPI functions. Please check this once again with the most recent build since where polling instead of interrupt method is not used for data acquisition.

[2017-02-26 09:21] prasimix opened #86 "DISPlay SCPI subsystem"
Add support for DISPlay SCPI subsystem commands as described in SCPI reference guide

[2017-02-26 16:01] dsaltas commented on #82
I tried with the most recent build and I have the same problems. After a few seconds the psu freezes.

[2017-02-27 07:49] prasimix commented on #82
Thanks, we'll try to reproduce it on our side add let you know about status.

[2017-02-27 15:07] prasimix commented on #14
If LIST are active on both channel touchscreen is not responsive.

[2017-02-27 15:13] prasimix opened #87 "Stand by button enhancement"
Add pop-up menu when Stand-by button is selected with the following options:
- Stand-by
- Display off
- Reset (*RST)

[2017-02-27 15:51] prasimix commented on #14
Use OFF feature on local display as ABORt command for stopping triggered LIST. When change from OFF to ON check VOLTage and CURRent MODE and open pop-up menu with the following options:
- Run LIST
- Disable LIST

[2017-03-03 14:59] prasimix opened #88 "File manager for SD card (SCPI only)"
Add functionality to list, delete, modify, copy files stored on the SD card. The following type of files should be stored on the SD card:
- Copies of user profiles that resides on the EEPROM
- Values for programming voltage, current and duration of the `LIST`
- Data logging files

`MMEMory` SCPI subsystem will be used for remotely managing SD card files.
Additionally, bidirectional file transfer (

[2017-03-04 16:55] prasimix commented on #78
The latest analysis return [0/59](https://www.virustotal.com/en/file/3736d23ed54e8c6a9b15332e5c9c70d049b6cd89f6a3ee6b8e239d7c193d5761/analysis/). Therefore I'm going to close this issue.

[2017-03-04 16:55] #78 closed, assigned to nobody

[2017-03-05 10:56] prasimix opened #89 "Measure output before output is switched on"
This task is inspired with [TSP6 - Rigol DP1116A and DP1308A Programmable Power Supply Review Part 4/6)](https://youtu.be/L1M29SOLXm4?t=5m45s) presentation.
When channel output is going to be changed from OFF to ON we can measure output voltage and display warning message if measured value is more then 0.00 V (calibrated) or e.g. 20 mV (uncalibrated) that user has to confirm like:
[code]
A new opt

[2017-03-10 07:46] prasimix commented on #85
Fixed

[2017-03-10 07:46] #85 closed, assigned to mvladic

[2017-03-10 07:50] prasimix commented on #84
Fixed

[2017-03-10 07:50] #84 closed, assigned to mvladic

[2017-03-10 15:55] prasimix commented on #58
Fixed

[2017-03-10 15:55] #58 closed, assigned to mvladic

[2017-03-10 15:55] prasimix commented on #14
Fixed

[2017-03-10 15:55] #14 closed, assigned to mvladic

[2017-03-16 09:45] prasimix opened #90 "Working with LIST without SD card"
If SD card is not present/enabled and `LIST` is defined on one or both channels a warning message is needed when save to user profile option is selected.
Also currently if selected user profile has trigger set to list (i.e. `VOLT:MODE LIST` and/or `CURR:MODE LIST`) wrong message will be displayed on trigger start attempt: `List lengths in not equivalent`. We have at least two possibilities here: t

[2017-03-16 15:12] prasimix opened #91 "Units precision"
Set the following precision of used measurement units:

- Internally, e.g. for comparison and similar tasks, handle 3 decimal places for voltage and current (hi range) or 4 places for low range current (r5B12 Power board only)

For displayed values we should have the following precisions:

- voltage >= 10 display 2 decimal places, e.g. 23.45 V
- voltage >= 1 and < 10 display 3 decimal places, e.g.

[2017-03-18 20:39] prasimix opened #92 "Full support for Power board r5B12"
Basic support that is added into M4 (e.g. support for 16-bit I/O expander, automatic selection between low and high current range) has to be extended to cover all aspects of this new board.

- Taking into account reference ground when displaying output voltage and current for remote voltage programming is activated (`VOLT:PROG EXT`). The same offset has to be used as for uncalibrated channel (we n

[2017-03-19 09:57] prasimix opened #93 "MAC address for W5500"
W5500 has its own MAC address. Therefore is no need to define that parameter in config file.

[2017-03-19 10:05] prasimix commented on #93
It seems that is a feature of [WIZ550io](http://www.wiznet.co.kr/product-item/wiz550io/) module not W5500 itself. Therefore we cannot do that.

[2017-03-19 10:05] #93 closed, assigned to mvladic

[2017-03-19 10:33] prasimix commented on #40
Closed, see #91

[2017-03-19 10:34] prasimix commented on #34
Closed, See #91

[2017-03-19 10:34] #34 closed, assigned to mvladic

[2017-03-19 10:47] prasimix opened #94 "Migration to RTOS"
Research possibility to migrate firmware to some open source RTOS that supply ARM Cortex M3 that is used on Arduino Due. The first and obvious starting point could be [FreeRTOS](http://www.freertos.org/).

[2017-03-19 10:58] prasimix opened #95 "Examples of connection with a SCPI contoller"
Idea is to generate over time a collection of various examples how to communicate with firmware via 3rd party so-called SCPI controller software. That could be, if applicable, LabVIEW, BenchVue, MyOpenLab, etc. or your own application.

See also #16

[2017-03-20 06:27] prasimix opened #96 "Arduino start-up 10 ms transition"
Investigate is it possible to avoid 10 ms transition on all I/O pins for low to high when Arduino started (power up or hard reset).

This question is first asked on Arduino forum [here](http://forum.arduino.cc/index.php?topic=436839.msg3011436#msg3011436).

[2017-03-20 06:43] prasimix opened #97 "Interrupts problem on Arduino Due"
_This issue is originally posted on Arduino GitHub [here](https://github.com/arduino/Arduino/issues/5897) and it was moved [here](https://github.com/arduino/ArduinoCore-sam/issues/13)._

[Here](https://gist.github.com/mvladic/a1646b103e838df03e1483e9dfaf724d) is relatively small sketch that is extracted from the [EEZ PSU firmware](https://github.com/eez-open/psu-firmware) project.

In this sketch

[2017-03-20 12:49] prasimix commented on #40
Rejected

[2017-03-20 12:49] #40 closed, assigned to mvladic

[2017-03-20 13:23] prasimix commented on #79
fixed

[2017-03-20 13:23] #79 closed, assigned to mvladic

[2017-03-20 13:34] prasimix commented on #91
Fixed

[2017-03-20 13:34] #91 closed, assigned to mvladic

[2017-03-21 11:57] prasimix commented on #81
Someone should make some draft specification first, taking into account PSU limitations.

[2017-03-22 09:16] mvladic commented on #24
Following libraries are removed from the project:

- Ethernet2
- UIPEthernet
- UTFT_Pro

We created following forks of third party libraries:

- https://github.com/eez-open/Ethernet2
- https://github.com/eez-open/arduino_uip
- https://github.com/eez-open/scpi-parser

For now, we will keep eez_psu_lib and scpi-parser inside this project.

[2017-03-22 13:52] dagema commented on #81
Firmware/software should offer a menue for selecting maximum voltage and maximum current.  After entering values the program should do a continuous sweep from 0 to Max voltage at a sweep frequency which the PSU is capable of supporting.  During each cycle of the sweep, the program should toggle between the voltage and current levels and show the results as a  plot on the display.  There should als

[2017-03-22 14:09] dagema commented on #81
I had inadvertedly closed the issue. My mistake. (I thought the "Close and comment" button referred to closing the edit box.)

[2017-03-22 15:56] prasimix commented on #81
No problem, thanks for your input.

[2017-03-22 16:08] prasimix commented on #87
Fixed

[2017-03-22 16:08] #87 closed, assigned to mvladic

[2017-03-27 23:14] algaremi commented on #44
Hi. Tried to compile the new M4 software version and got these errors:

sketch\ethernet.cpp: In function 'void eez::psu::ethernet::init()':

ethernet.cpp:143: error: 'class EthernetClass' has no member named
'setDhcpTimeout'

      Ethernet.setDhcpTimeout(ETHERNET_DHCP_TIMEOUT * 1000UL);

               ^

Multiple libraries were found for "Ethernet2.h"
  Used: C:\Users\bergerons\Desktop\Documents

[2017-03-28 07:03] mvladic commented on #44
Install `Ethernet2` library from `https://github.com/eez-open/Ethernet2` to your libraries folder.

[2017-03-28 11:33] algaremi commented on #44
Tx, SB                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry 10 smartphone on the Rogers network.

[2017-03-29 00:20] algaremi commented on #44
On 2017-03-28 03:03, Martin Vladic wrote:

Hi. I downloaded the Ethernet2 zip file, uncompressed the folder into my
Arduino Libraires folder.
Still having an error, seem to be due to incorrect display type/config,
see below.
any solution?
Thanks

Still have this error if I try to compile:

Arduino: 1.6.9 (Windows 7), Board: "Arduino Due (Programming Port)"

lcd.cpp:35: error: 'CTE32_R2' was not de

[2017-03-29 06:02] prasimix commented on #44
This is issue with TFT display library that like before reported `Ethernet2` is not related to M4 release, but to latest build. You can expect more "surprises" here since this is work in progress (related to e.g. #24). Therefore you can try to update to [M4 release](https://github.com/eez-open/psu-firmware/releases/tag/m4) or if you want to follow latest development download UTFT library from [her

[2017-03-31 13:26] prasimix commented on #86
When DISP is OFF, turn off completely display after displaying info message for a few seconds (like with entering standby mode). When DISP is OFF flash standy LED using the following pattern: on: 200 ms - off: 1300 ms

[2017-04-02 14:14] prasimix opened #98 "Add trigger for power output control"
Add support for controlling channel's power outputs with trigger. Related SCPI command is `OUTPut[:STATe]:TRIGgered`.

On channel trigger settings page display `Output state:` (ON, OFF) below `Current step value:`

[2017-04-03 10:16] prasimix commented on #71
I cannot reproduce this one any more, but something else is easily reproducible: if you entered step page to set current, predefined values on the left will not be changed if you move to set voltage, i.e. 0.01, 0.05, 0.1, 0.25, 0.5 will be displayed instead of 0.1, 0.5, 1, 2, 5. Maybe that is connected with introducing dual range current for r5B12 power board but I have the same error on the r5B9

[2017-04-03 10:41] prasimix commented on #71
Fixed

[2017-04-03 10:41] #71 closed, assigned to mvladic

[2017-04-03 15:38] prasimix opened #99 "Indication that LIST is running with long DWELl times"
We need some sort of indication that programmed output values are in fact set using LIST in case of long DWELl times what is currently not apparent in any sense. The real case scenario is battery charging when DWELl time for set current could last up to 14 hours (over 50 000 seconds). Optimal solution could be that we add some sort of down counter that will be visible when DWELl time is longer the

[2017-04-05 16:32] prasimix opened #100 "High range current calibration compensation"
Due to heating up, the resistance of current sense resistor is increasing and cause voltage drop. Therefore in CC mode output current will gradually drop. Such drift cannot be measured with ADC since current control loop is in charge of output regulation and with heated resistor, a lower current need to flow for the same voltage drop that is used by control loop circuit. That drift can be up to -0

[2017-04-06 09:13] prasimix commented on #92
All functionality tested except when channels are in tracking or coupled mode, since I don't have two r5B12 power boards currently on disposal. If anything arise with them in a future a new issue will be opened.

[2017-04-06 09:13] #92 closed, assigned to mvladic

[2017-04-06 10:03] prasimix opened #101 "Set units in value edit mode"
Same unit as currently set one should be used for every values where keypad is used as input method. That is currently partially done. We are missing that for the following values:

- Channel current limit, trip level and trip delay
- Chanel voltage limit, trip level and trip delay
- Add to channel power edit `mW` key and do the same for power limit, trip level and trip delay
- Voltage and current

[2017-04-06 17:25] prasimix opened #102 "Entering calibration when channel is in error mode"
When channel is for any reason in error mode (e.g. power board is simply not connected) it's still possible to enter calibration wizard from system settings page.

[2017-04-12 15:04] prasimix commented on #101
Fixed

[2017-04-12 15:04] #101 closed, assigned to mvladic

[2017-04-13 09:05] prasimix opened #103 "Aborting trigger when different modes are selected"
If for example ch2 trigger is set to `FIXed`, and ch1 to `LIST`, switching off ch2 (`OUTP OFF`) will stop `LIST` execution on the ch1. There is not need for such behavior despite the fact that single triggering system is used for controlling both channels. Therefore only if channel is in `STEP` or `LIST` mode should affect output of other channel when switched off.

[2017-04-14 15:47] prasimix opened #104 "Start LIST when current autorange is enabled"
Firmware will stuck on attempt to start LIST when current autorange is enabled (Power board r5B12 only). The shorter the step dwell time and bigger the list, the better will be chance that firmware completely stuck or initiate stand-by.

[2017-04-17 16:13] prasimix opened #105 "LIST execution with current range set to "Best""
We have a strange situation when LIST with different current values is executed on r5B12 with current range set to "Best". Connected load is 16.4R. Loaded list values are:
[code]
When current range is set to `5 A` output waveform looks fine (pulse duration is 20 ms):

![output_current_5a](https://cloud.githubusercontent.com/assets/15106476/25094699/a9987ed6-2398-11e7-80b7-5769e02d72ed.jpg)

... bu

[2017-04-18 11:58] prasimix commented on #102
`Start calibration wizard` option is now disabled if channel is in error mode and channel name become invisible. Yet, `Disable` and `Recalibrate` options are still visible and enabled. That don't make lots of sense. Why not simply make invisible complete section for channel in error mode?

[2017-04-18 12:02] prasimix commented on #103
Partially resolved. There is no need that channel's voltage and current output set values stays disabled when channel output is turned off.

[2017-04-18 12:15] prasimix commented on #104
Fixed

[2017-04-18 12:15] #104 closed, assigned to mvladic

[2017-04-18 12:25] prasimix commented on #102
Fixed

[2017-04-18 12:25] #102 closed, assigned to nobody

[2017-04-18 12:30] prasimix commented on #103
It's now enabled, but keypad page cannot be entered. Also if encoder confirmation mode is selected it's possible now to "intrude" other channel's (ch1 in our example) output value settings.

[2017-04-18 12:59] prasimix commented on #105
Fixed, thanks to changes made for #104

[2017-04-18 12:59] #105 closed, assigned to mvladic

[2017-04-18 13:15] prasimix opened #106 "Entering CC mode when current range is set to "Best""
It seems that current range switching cannot follow "fast" `LIST` and cause that output enters CC mode with connected load. Here is an example list (connected load is 16.4 R) :

[code]
When current range is set to `Best` (current in second step was limited to 0.5 A because current range switching was not happen in right time) and Autoranging is set to ON:

![current limit_best](https://cloud.githu

[2017-04-19 11:32] prasimix commented on #103
Fixed

[2017-04-19 11:32] #103 closed, assigned to mvladic

[2017-04-20 09:38] prasimix commented on #86
Output ON LEDs (green) are also also switched off when display is switched off.
`DISP:BRIG`, `DISP:VIEW`, `DISP:TEXT`, `DISP:TEXT:CLE` are still not implemented.
Transition to display off can be make by gradually decreasing `DISP:BRIG` from currently set value to zero.

[2017-04-20 10:07] prasimix opened #107 "Inital delay on LIST execution"
When `LIST` execution started over local console an unexplained delay of about 140 ms is happen. The same issue exist whenever channels are in tracking mode or not:

![init_delay_tracking](https://cloud.githubusercontent.com/assets/15106476/25225469/c316fc9a-25c1-11e7-8eaa-f5b75f89c3b0.jpg)

![init_delay_single](https://cloud.githubusercontent.com/assets/15106476/25225475/c880c6fc-25c1-11e7-9c8d-1

[2017-04-21 11:31] prasimix commented on #86
Fixed

[2017-04-21 11:31] #86 closed, assigned to mvladic

[2017-04-21 11:33] #24 closed, assigned to mvladic

[2017-04-22 10:05] prasimix opened #108 "Swap ENC_A and ENC_B for r5B12"
Due to different wiring of encoder on the Arduino shield r5B12 pinouts ENC_A and ENC_B has to be swapped:

[code]

[2017-04-22 14:51] #31 closed, assigned to mvladic

[2017-04-22 15:02] prasimix opened #109 "Serial/USB communication settings"
Implement SCPI commands (`SYSTem:COMMunicate:SERial`) for serial communication settings and add new page under system settings.

[2017-04-22 15:11] prasimix opened #110 "Additional ethernet settings"
Add support for SCPI commands `SYSTem:COMMunicate:ETHernet` and `SYSTem:COMMunicate:ENABle `for Ethernet settings. Update existing GUI Ethernet settings page too.

[2017-04-22 15:28] prasimix opened #111 "Update info in EEZ PSU library"
Change library owner name, and add the following description (See old Bitbucket issue 185):

`This library contains pinout mappings and initializations for various EEZ H24005 power supply boards revisions.`

_More info_ link should lead to [psu-firmware](https://github.com/eez-open/psu-firmware) github pages.

[2017-04-22 15:33] prasimix opened #112 "Image compression"
Implement some sort of simple (not CPU intensive) image compression (e.g. RLL) to decrease size of bitmaps that are currently stored into flash memory.

[2017-04-22 15:48] prasimix opened #113 "Additional date/time settings (NTP, DTS support)"
Add NTP support (that include `SYSTem:COMMunicate:NTP` and `SYSTem:COMMunicate:ENABle` SCPI commands). NTP example sketch is an integral part of the Ethernet library examples (`UdpNTPClient.ino`). NTP also include DTS information, therefore we have to start to take account about it.

Initially we have to support DTS rules that are used in the following regions:
- Europe
- USA (incl. Canada)
- Aust

[2017-04-22 15:57] prasimix opened #114 "Link on Temp AUX value"
Add link to Temp AUX value on System info page that will lead to AUX OTP settings.

[2017-04-22 16:14] prasimix opened #115 "Limit number of remote requests"
We have to limit somehow number of remote requests over serial/USB and Ethernet to avoid erratic behavior or skipping of watchdog impulses that will shut PSU down.

[2017-04-23 10:59] prasimix opened #116 "Encoder error when one channel is missing"
If one channel is missing, on the power up encoder "cursor" will not be positioned to the functional channel. When knob is turned to the far left or right an error is displayed that does not make sense as shown in video below.

[Encoder err_single ch.mkv.zip](https://github.com/eez-open/psu-firmware/files/949629/Encoder.err_single.ch.mkv.zip)

[2017-04-25 09:42] prasimix commented on #45
Instead of installation wizard firmware will check after the power on if touchscreen and channel calibrations are needed. The same is if date/time is not set.

[2017-04-25 09:42] #45 closed, assigned to mvladic

[2017-04-25 09:47] prasimix commented on #116
Fixed

[2017-04-25 09:47] #116 closed, assigned to mvladic

[2017-04-25 09:50] prasimix commented on #111
Fixed

[2017-04-25 09:50] #111 closed, assigned to mvladic

[2017-04-25 10:03] prasimix commented on #108
Fixed

[2017-04-25 10:03] #108 closed, assigned to mvladic

[2017-04-26 10:45] prasimix commented on #80
SD card library already reports failure if SD card is not present.

[2017-04-26 11:19] #80 closed, assigned to mvladic

[2017-04-26 15:47] prasimix opened #117 "Select LIST exit action on Channel Trigger settings page"
Under Channel Trigger settings when `LIST` trigger is selected below `Edit list` option and a new option `On list stop:` with the following possibility:

- Output OFF (default)
- Set to first step
- Set to last step
- Standby

Add new SCPI command `TRIGger[:SEQuence]:EXIT:CONDition`

[2017-04-26 15:50] prasimix opened #118 "Change temp sensor params"
1. Replace voltages with ADC values in temp sensor params
1. Add into DEBUG? command displaying of currently measured temp sensor ADC values
1. Set the following new defaults for temp sensors:
[code]

[2017-04-26 16:14] prasimix commented on #118
Fixed

[2017-04-26 16:14] #118 closed, assigned to mvladic

[2017-04-26 16:25] prasimix opened #119 "AUX OTP trip info"
When AUX OTP tripped that info is not visible on the top of the screen, but it's visible in event viewer.
Also maybe instead of simply starting standby procedure we should display a reason why it's started.

[2017-04-27 13:16] prasimix commented on #90
Fixed

[2017-04-27 13:16] #90 closed, assigned to mvladic

[2017-04-27 13:57] prasimix commented on #12
Duplicated, see #119

[2017-04-27 13:57] #12 closed, assigned to mvladic

[2017-04-27 14:26] prasimix commented on #119
Fixed. Now when any of OTP tripped it will be stored into EEPROM to be remembered on the next start up attempt.

[2017-04-27 14:26] #119 closed, assigned to mvladic

[2017-04-27 14:31] prasimix opened #120 "Add support for digital I/O"
A new SCPI group of commands` [SOURce:]DIGital` has to be added. Also `Digital I/O` page under system settings has to be enabled.

[2017-04-28 10:11] prasimix commented on #107
Fixed

[2017-04-28 10:11] #107 closed, assigned to mvladic

[2017-04-28 14:54] prasimix opened #121 "Displaying zero current"
When no load is connected displayed current value could switch back and forth from 0.000A to 0mA.

[2017-04-28 15:04] prasimix opened #122 "Change trigger mode when trigger is active"
If trigger is active (i.e. LIST is running, or in STEP mode an external event is waiting) on an attempt to change trigger mode an error has to be generated or on local console a message could include possiblity to stop (ABORt) trigger first.

[2017-05-02 08:40] prasimix commented on #117
Fixed

[2017-05-02 08:40] #117 closed, assigned to mvladic

[2017-05-02 09:39] prasimix commented on #98
Fixed

[2017-05-02 09:39] #98 closed, assigned to mvladic

[2017-05-04 11:49] prasimix opened #123 "First time display calibration wizard issue"
On power up when display calibration data if does not exists, and if it enters calibration screen automatically (no manually initiated) calibration will not be possible.

[2017-05-05 08:31] prasimix commented on #123
Fixed

[2017-05-05 08:31] #123 closed, assigned to mvladic

[2017-05-05 11:55] prasimix opened #124 "Max. input voltage protection in remote programming mode"
When remote programming is enabled, OVP will be automatically turn on and set to 40V as an input over-voltage precaution. But, in this mode we have to monitor not just U_MON but also that U_SET will not goes over 2.5V (that gives 40V on output) because if channel with connected load is in CC mode, remote programming value could easily go over 2.5V that can damage ADC.
Steps to reproduce:

1. Set c

[2017-05-05 12:01] prasimix opened #125 "Encoder navigation with channel in remote programming mode"
If channel is in remote programming mode, pushing encoder button for navigation will not skip U_SET value for the channel.

[2017-05-05 16:56] prasimix opened #126 "Wrong current range on power on with autoranging disabled"
Wrong current range will be set if profile auto-recall is enabled and selected profile has the following params:

- Current range: Best (default)
- Autoranging: OFF

If current is set to e.g. 1 A (more then 500 mA) actual current will be 0.1 A but on the display 1 A will be reported. When channel is in CC mode 10 times smaller output voltage will indicated that something is not correct.

See also

[2017-05-06 07:22] prasimix opened #127 "Short flash of all front panel LEDs during selftest procedure"
Make all LEDs flash during selftest procedure (power on and `*TST?`) for visual checking that all LEDs are working.

[2017-05-14 06:04] prasimix commented on #99
Add channel number before displayed time. Use e.g. 0x0041, 0x0042 or 0x0061, 0x0062 pair.

[digits.zip](https://github.com/eez-open/psu-firmware/files/999140/digits.zip)

[2017-05-15 11:13] prasimix commented on #99
Another possibility (not a real substitute for previous comment) is to display step number, e.g. if step 2 has long `DWELl` time then format should be: `2:45s` or `2>45s`

[2017-05-15 11:20] prasimix commented on #126
Fixed

[2017-05-15 11:20] #126 closed, assigned to mvladic

[2017-05-15 13:00] prasimix commented on #120
If Output function is changed e.g. from `Fault` to `None`, and output was set, Output state should be cleared too.

[2017-05-15 13:05] prasimix opened #128 "Clear trip option"
Since all protections option is now clickable, related protection settings page should offer also trip clear option. For example if OCP was tripped, its button will change a color to red and when selected it will lead to OCP settings page that has to be canceled, Channel protection tab must be selected and then `Clear / Disable` option what is not convenient.

[2017-05-16 07:30] prasimix opened #129 "Protection trip cannot stop LIST"
Protection trip cannot stop `LIST` that is currently executing on the channel.

[2017-05-17 08:05] prasimix commented on #99
Fixed, last two comments ignored.

[2017-05-17 08:05] #99 closed, assigned to mvladic

[2017-05-17 08:17] prasimix opened #130 ""hiccup" in parallel mode"
In some case current balancing between channel in parallel mode without load cause "hiccup". See attached video. This can cause huge dissipation on down-programmer MOSFET that will pass unnoticed by firmware.

[parallel_mode_hiccup.mkv.zip](https://github.com/eez-open/psu-firmware/files/1006990/parallel_mode_hiccup.mkv.zip)

[2017-05-17 10:49] prasimix commented on #129
Fixed

[2017-05-17 10:49] #129 closed, assigned to mvladic

[2017-05-17 10:52] prasimix commented on #128
Fixed

[2017-05-17 10:52] #128 closed, assigned to mvladic

[2017-05-17 13:41] prasimix commented on #127
Fixed

[2017-05-17 13:41] #127 closed, assigned to mvladic

[2017-05-18 08:12] prasimix commented on #120
Fixed

[2017-05-18 08:23] prasimix commented on #125
Fixed

[2017-05-18 08:23] #125 closed, assigned to mvladic

[2017-05-18 09:34] prasimix commented on #124
Fixed

[2017-05-18 09:34] #124 closed, assigned to mvladic

[2017-05-18 12:11] prasimix commented on #120
If I/O function is cleared (set to `None`), output has to be cleared too, i.e. set to OFF state.

[2017-05-18 16:15] prasimix opened #131 "Icons for AUX temp sensor, serial and Ethernet"
Add next to event log icon new icons for AUX temp sensor, serial and Ethernet.
Do not display icon if option is not enabled in firmware (`OPTION_AUX_TEMP_SENSOR`, `OPTION_ETHERNET`) or is disabled in system settings.

When option is active (i.e. AUX OTP is enabled, serial communication is established or Ethernet communication is established) paint icon background in green.
If AUX OTP is tripped or

[2017-05-18 16:16] prasimix commented on #131
If `OPTION_AUX_TEMP_SENSOR` is disabled, AUX temp icon is still visible. Ethernet icon does not change background color to green when communication is established.

[2017-05-19 10:02] prasimix commented on #131
Fixed

[2017-05-19 10:02] #131 closed, assigned to mvladic

[2017-05-19 10:04] prasimix commented on #120
Fixed

[2017-05-19 10:13] prasimix commented on #109
Fixed

[2017-05-19 10:13] #109 closed, assigned to mvladic

[2017-05-20 21:15] prasimix opened #132 "Change trigger mode cannot stop LIST"
If `LIST` is running, changing trigger mode to `Fixed` will not stop a list.

[2017-05-22 06:54] prasimix opened #133 "Screen lock button behaviour"
Replace Screen lock long (2 sec) push action to short one.

[2017-05-23 13:12] prasimix opened #134 "Add support for hostname in Ethernet library"
Currently used Ethernet library cannot provide support for hostname. Therefore SCPI command `SYSTem:COMMunicate:ETHernet:HOSTname` cannot be supported, and PSU can be reached only by entering its IP address.

[2017-05-24 08:49] prasimix commented on #110
Fixed

[2017-05-26 10:33] prasimix commented on #110
Ethernet MAC address should be changed via GUI and SCPI command.

[2017-05-27 08:52] prasimix opened #135 "Inhibit Arduino Due reset when serial connection is established"
Arduino Due will be reset every time when serial (via USB) connection is established. That is possibly a feature needed for new firmware upload (using Arduino IDE) but it's unnecessary for normal operation.

[2017-05-28 07:24] prasimix commented on #115
If long enough sequence of nonsensical text is send via serial to make error queue overflow that can initiate unrelated events such as false PWRGOOD detection and "trigger" DOUT2 relay.

[2017-05-31 13:14] prasimix commented on #113
Tested with Europe DTS. Time was changed correctly on 26 Mar 2017 at 2:00 but didn't move back on 29 Oct 2017 at 3:00.
Info about DTS adjustment should be saved into event log.

[2017-05-31 15:01] prasimix commented on #113
Fixed

[2017-05-31 15:01] #113 closed, assigned to mvladic

[2017-05-31 15:47] #114 closed, assigned to mvladic

[2017-06-02 07:08] prasimix opened #136 "Erratic PWRGOOD detection"
When channel is running for multiple hours with or without load `PWRGOOD` signal can be detected without obvious reason (no blackout or brownout happened, power board is not faulty). This can be detected on both r3B4 and r5B12 Arduino shields and r5B9 and r5B12 Power boards.

It's not clear when that starts to happen but there is a good possibility that some firmware release after M5 introduce cha

[2017-06-05 15:50] prasimix commented on #130
The set value of output current is not painted in pale yellow when output is balanced.

[2017-06-06 07:24] prasimix commented on #130
Last comment fixed, better auto-range current handling is done. It's still possible that some "hiccup" happend without load, but it tends to disappear within a minute.

[2017-06-06 07:24] #130 closed, assigned to mvladic

[2017-06-06 10:42] prasimix commented on #132
Fixed

[2017-06-06 10:42] #132 closed, assigned to mvladic

[2017-06-06 10:43] prasimix commented on #133
Fixed

[2017-06-06 10:43] #133 closed, assigned to mvladic

[2017-06-06 10:55] prasimix commented on #110
Fixed

[2017-06-06 10:55] #110 closed, assigned to mvladic

[2017-06-06 11:25] prasimix commented on #11
Fixed

[2017-06-06 11:25] #11 closed, assigned to mvladic

[2017-06-08 14:40] prasimix opened #137 "Changing luminosity of background color"
Used TFT display is very cheap and it appears that significant differences exists between their color quality or brilliance or whatever it is. Due to that chosen background blue could looks "washed out" in some cases. We should add luminance adjustment as a mean to get more pleasurable color.

[2017-06-12 06:28] prasimix opened #138 "Start of calibration procedure cannot stop LIST"
Similar to #129 and #132 entering calibration cannot stop `LIST` execution.

[2017-06-12 06:42] prasimix commented on #120
Reopen since it seems that `[SOURce:]DIGital` group of SCPI command is not supported.

[2017-06-12 07:37] prasimix opened #139 "Calibration status in user profile"
Remove storing of calibration status (`CAL:STAT`) into user profile.

[2017-06-12 08:53] prasimix commented on #120
- `DIG:OUTP:DATA? n` or `DIG:OUTP:DATA n x` return `-113,"Undefined header"`
- `DIG:INP:DATA? 1` returns the same value despite of set polarity

[2017-06-12 09:39] prasimix commented on #120
Pin function selection are not marked yellow on the local display.

[2017-06-12 10:25] prasimix commented on #139
Fixed

[2017-06-12 10:25] #139 closed, assigned to mvladic

[2017-06-12 10:26] prasimix commented on #137
Fixed

[2017-06-12 10:26] #137 closed, assigned to mvladic

[2017-06-12 11:06] prasimix commented on #120
Fixed

[2017-06-12 11:06] #120 closed, assigned to mvladic

[2017-06-12 13:34] jlegen commented on #135
forgive my potential ignorance, but what about using the **native** USB port for serial communications? If **not** opened at 1200bps, there will be no reset, and the **programming** USB port might still be used for regular firmware uploads...

[2017-06-12 13:47] prasimix commented on #135
Forgive my ignorance too :) I'm not aware of such potential difference in behavior between native and programming port. The thing is that only one USB port was made exposed (and isolated) on rear panel and if we want to replace it with native one, for every new firmware uploading user has to open top cover and move internal USB cable or connect another cable directly to the programming port.

[2017-06-12 16:07] prasimix opened #140 "Digital output "reset" with NTP enabled and no Ethernet connection"
The Digital output will be repeatedly "reset" (change its state to OFF for about 1 sec) on every attempt to update date/time from selected NTP service when Ethernet connection is lost.

DOUT2 (I/O pin 3) is set to follow channels output states (`DIG:PIN3:FUNC ONC`), both channel outputs are enabled and different LIST are started on each of them. Ethernet cable is intentionally removed after succes

[2017-06-12 20:17] jlegen commented on #135
Why should a user have to open the top cover?😎 You probably did not use Arduino IDE that much yet - if you choose the Due board in IDE, you'll find **two** boards named 'Due with native port' and 'Due with programming port'. Then the IDE will use the chosen one for the upload...😊
Difference in fact is the upload-handling of the IDE: the prog port - provided by Due's additional Atmega16 - does the

[2017-06-13 11:21] prasimix commented on #136
The cause of problem is finally detected. When Ethernet is enabled and network connection is lost, DHCP renewal attempt in that case will last more then watchdog time (1.5 sec). Watchdog will shut off power for channels and firmware will detect PWRGOOD failure.

[2017-06-13 11:48] prasimix commented on #140
Fixed

[2017-06-13 11:48] #140 closed, assigned to mvladic

[2017-06-13 11:57] prasimix commented on #138
Fixed

[2017-06-13 11:57] #138 closed, assigned to mvladic

[2017-06-13 14:00] prasimix opened #141 "Offline detection - non blocking DHCP lease request"
This issue is related to problems reported in #136 and #140. Currently used Ethernet library cannot offer non-blocking operation and connection attempts to NTP and DHCP servers when communication link is down produce few seconds of delay when no other function can be accomplished. This is especially problematic when LIST with short dwell times is executed on channel or when fast protection is requ

[2017-06-13 14:03] prasimix commented on #136
DHCP lease check is now disabled. Firmware is not tested for possible side effects of such decision. It can be enabled again if #141 is resolved.

[2017-06-13 14:04] #136 closed, assigned to mvladic

[2017-06-14 07:32] prasimix commented on #135
Thanks, I'm aware of possibility to choose between two USB ports for firmware upload. I tested another thing once again: does native USB can be used as serial monitor port or not. It seems that is not possible with "default" settings (whatever that mean).

[2017-06-14 10:11] prasimix commented on #121
Fixed

[2017-06-14 10:11] #121 closed, assigned to mvladic

[2017-06-14 10:28] jlegen commented on #135
"default settings" probably means, that e.g. the default examples (and standard/common code) won't work, unless you replace "Serial.begin", "Serial.println" with "SerialUSB.begin", "SerialUSB.println" etc.
This *should* work including serial monitor, though i have to admit that i never used that myself. Only played with uploads so far. While typing this - one oddity exists because it is "native US

[2017-06-15 09:38] prasimix commented on #115
Fixed in a way that e.g. stream of "garbage" sent over communication port cannot push PSU into standby mode anymore (due to watchdog timeout). Malicious user still could stop for few seconds other functions (i.e. LIST executions, protection tripping).

[2017-06-15 09:38] #115 closed, assigned to mvladic

[2017-06-15 10:02] prasimix opened #142 "Continuous switching current ranges when output is in UR mode"
If current auto-range is set to auto (`SENS:CURR:RANG:AUTO ON`), and current range is set to best/default (`SENS:CURR:RANG DEF`) when output is in unregulated mode (`OUTP:MODE?` is UR, that can happen on some Power boards when voltage is set to small values) and current is set above 0.5 A firmware will starts to switch repeatedly current range between low and high range.

[2017-06-15 10:17] prasimix opened #143 "Add support for battery temperature sensor"
Just a reminder that we are missing this feature. Task description will follow.

[2017-06-15 11:42] #2 closed, assigned to mvladic

[2017-06-15 11:50] prasimix commented on #106
Fixed thanks to #142

[2017-06-15 11:50] #106 closed, assigned to mvladic

[2017-06-16 08:25] prasimix opened #144 "Separate channels triggering"
Currently both channels are always "coupled" to the triggering system. For more flexibility we should separate channel triggering and introduce new SCPI command `INSTrument:COUPle:TRIGger` with can accept `ALL`, `NONE` or channel number (`CH1` or `CH2`) as parameter.

[2017-06-16 14:15] prasimix commented on #142
Fixed

[2017-06-16 14:15] #142 closed, assigned to mvladic

[2017-06-16 15:50] prasimix opened #145 "Status registers bits that are not affected"
The following status register bits are not affected during operation:

- Bit 5 (_Waiting for TRIGger_) of OPERational ISUMmary registers (`STAT:OPER:INST:ISUMn:COND?`)
- Bit 8 (_COUPle PARAllel_) of OPERation Status Register (`STAT:OPER:COND?`)
- Bit 9 (_COUPle SERial_) of OPERation Status Register (`STAT:OPER:COND?`)

[2017-06-17 12:03] prasimix opened #146 "Current range switching when output is enabled"
When load is connected and channel output is enabled when current autorange is active a possibly unnecessary switching between low current ranges is happened that introduce additional ~30 ms delay before steady state is reached. That can be seen in both CV (first fig.) and CC (second fig.) mode. `CURRENT_AUTO_RANGE_SWITCHING_DELAY_MS` is set to 5 ms (default).

This is happened occasionally and ma

[2017-06-17 20:51] prasimix opened #147 "Digital output states in standby mode"
Digital outputs have to follow chosen functions when PSU enters standby mode. For example, if output channel's state synchronization is selected (`SOURce:]DIGital:PIN<n>:FUNCtion ONCouple`) for certain "pin" (2 or 3) it cannot remains ON since channels outputs are not enabled in standby mode.

[2017-06-19 08:45] prasimix commented on #147
Fixed for `ONCouple`, doesn't work correctly for `Fault` (that is possibly because PSU fault state is not cleared when enters standby mode). See also attached video. That can be reproduced when DOUT2 function is Fault and `SYST:POW:PROT:TRIP` is set.

[vokoscreen-2017-06-19_10-42-23.mkv.zip](https://github.com/eez-open/psu-firmware/files/1084329/vokoscreen-2017-06-19_10-42-23.mkv.zip)

[2017-06-19 09:04] prasimix commented on #146
Fixed, current range change due to autoranging from OFF to ON state with load connected now looks like this (CC mode):

![autorange off to cc corrected](https://user-images.githubusercontent.com/15106476/27277546-e2d2be56-54de-11e7-9b98-d6e30c69da0a.jpg)

Even in ON state when load is applied change looks better (CC mode, same U_SET and I_SET)):

![autorange load to cc corrected](https://user-imag

[2017-06-19 09:04] #146 closed, assigned to mvladic

[2017-06-19 09:04] prasimix commented on #145
Fixed

[2017-06-19 09:04] #145 closed, assigned to mvladic

[2017-06-19 12:23] prasimix commented on #147
Fixed

[2017-06-19 12:23] #147 closed, assigned to mvladic

[2017-06-19 15:41] prasimix opened #148 "Add support for NTP service in simulator"

[2017-06-25 08:17] dsaltas opened #149 "Calibration issues"
* Firmware version: 1.0 and M5
* Shield version: R3B4
* Powerboard version: R5B9

### Expected behavior
After successfully calibration I was expecting that I can set voltage and amperage to any value I want in the range 0-40V and 0-5A.

### Actual behavior
I can only set voltage and amperage in very limited ranges.
For voltage: 36.66V-36.74V and for amperage: 4.64A-4.65A.

[2017-06-25 08:31] prasimix commented on #149
This issue is fixed for Power boards r5B12 in 4ae91bc but no testing was performed on older boards.

[2017-06-27 12:35] mvladic commented on #149
Please try it now.

[2017-06-27 14:49] dsaltas commented on #149
Well done! It works now, but I discovered another bug.
If I press Settings from Ch#2 and then select either Current/Voltage limit and OCP/OVP it goes to Ch#1.

[2017-06-27 18:07] dsaltas commented on #83
Fixed.

[2017-06-27 18:07] #83 closed, assigned to mvladic

[2017-06-28 06:35] prasimix opened #150 "Changing luminosity of background colors (cont.)"
This is a follow up on #137: At least two more background colors needs to be adjusted on "washed out" displays:

1. "Tab" selection on channels settings:
![channel settings](https://user-images.githubusercontent.com/15106476/27623309-29ace5aa-5bdc-11e7-935a-1b2aa404d494.JPG)

2. Orange pop-up with yellow texts:
![orange_yellow menu](https://user-images.githubusercontent.com/15106476/27623404-a36f8

[2017-06-28 07:00] prasimix opened #151 "Touch screen calibration error last too short"
When error is detected due to unacceptable data received during touch screen calibration, error message ("Received data is invalid...") last too short on the screen (display time should be at least doubled).

[2017-06-28 08:20] mvladic commented on #149
Fixed!

[2017-06-28 08:22] mvladic commented on #151
Done!

[2017-06-28 10:06] prasimix opened #152 "Weird sound when user profile name is confirmed"
A weird sound is generated when user profile name is confirmed on local console keypad. It sounds like an attempt to generate two sound at once (click and beep tone as confirmation).

[2017-06-28 10:48] mvladic commented on #152
I can't reproduce it. Maybe I'm not testing as expected.

[2017-06-28 15:37] #149 closed, assigned to mvladic

[2017-07-12 11:17] prasimix opened #153 "Channel output on/off should respond on touch down"
Channel output on/off currently response on touch up but for rapid response it should be on touch down.

[2017-07-12 14:46] prasimix commented on #151
Fixed

[2017-07-12 14:46] #151 closed, assigned to mvladic

[2017-07-12 21:35] prasimix commented on #153
Fixed

[2017-07-12 21:35] #153 closed, assigned to mvladic

[2017-07-12 22:01] prasimix opened #154 "AUX temp sensor clear option behaviour when disabled"
AUX temp sensor `Clear` option is accessible and will display message "Cleared!" even when it's disabled.

[2017-07-14 12:55] prasimix opened #155 "Tracking and coupling options if two channels are not available"
We should disable tracking and coupling options under channel settings if both channels are not available for any reason (e.g. `CH_NUM` is set to 1 or one or both channels are in error mode).

[2017-07-18 11:33] prasimix opened #156 "Compilation error when all debug options are disabled"
I tried to compile sketch with all debug options disabled (i.e. `CONF_DEBUG`, `CONF_DEBUG_LATEST`) and got the following error:

[code]

[2017-07-18 11:37] prasimix commented on #150
Fixed

[2017-07-18 11:37] #150 closed, assigned to mvladic

[2017-07-18 12:09] prasimix commented on #156
Fixed

[2017-07-18 12:09] #156 closed, assigned to mvladic

[2017-07-18 15:28] prasimix commented on #135
Fixed

[2017-07-18 15:28] #135 closed, assigned to mvladic

[2017-07-19 09:53] prasimix commented on #154
Fixed

[2017-07-19 09:53] #154 closed, assigned to mvladic

[2017-07-19 10:18] prasimix commented on #155
GUI part is fixed, but SCPI commands `INST:COUP:TRAC` and `OUTP:TRAC` should return an error.

[2017-07-19 11:36] prasimix commented on #155
Fixed

[2017-07-19 11:36] #155 closed, assigned to mvladic

[2017-08-19 04:12] amuir2k opened #157 "Compile issue in 1.0.1?"
I had to comment out the following line in ethernet.cpp in the 1.01 (and master) builds to get the project to compile,
 Ethernet.setDhcpTimeout(ETHERNET_DHCP_TIMEOUT * 1000UL);

Leaving it in yields the following compile error:

sketch/ethernet.cpp: In function 'void eez::psu::ethernet::init()':
ethernet.cpp:146: error: 'class EthernetClass' has no member named 'setDhcpTimeout'
     Ethernet.setDh

[2017-08-19 05:02] mvladic commented on #157
Use following Ethernet2 library:

https://github.com/eez-open/Ethernet2

[2017-08-19 05:28] amuir2k commented on #157
Thanks, worked like a charm!

On Fri, Aug 18, 2017 at 10:02 PM, Martin Vladic <notifications@github.com>
wrote:

[2017-08-19 06:47] #157 closed, assigned to nobody

[2017-08-19 12:14] DwaineGarden commented on #152
I also tried to re-create the problem.  I was not able to generate the bug?  Sounds seemed fine.

[2017-08-20 07:02] sorlok72 opened #158 "Support for battery charging profiles"
Would like to see charging of  different battery types, sizes and charging power.
Like LiPo, NiMH, LiFe, etc.  Or perhaps make it with profile, no new battery types can be supported
without new firmware needed.?
Thanks for a great product

[2017-08-20 07:18] prasimix commented on #158
Thanks for that. It will be nice if you or someone else can provide instructions for charging various battery types. In the mean time I hope you can manage it by using simple list with just one or two steps:
1. Charging time with max. charging voltage and charging current
2. "float" time with voltage limit and small current
If second step is not needed you can define that channel output is disable

[2017-08-21 01:07] ExplodingLemur opened #159 "Compile problem in 1.0.1 with Ethernet2 library"
When compiling 1.0.1 using the Ethernet2 library from either the Arduino repositories or from https://github.com/eez-open/Ethernet2, I receive this error:

[code]

The full verbose compile log is attached.
[eez-1.0.1-error.txt](https://github.com/eez-open/psu-firmware/files/1237501/eez-1.0.1-error.txt)

This appears to be a duplicate of #157 however it is not resolved by using the Ethernet2 librar

[2017-08-21 06:09] prasimix commented on #159
Maybe you should move that library from `C:\Users\ExplodingLemur\Documents\Arduino\libraries\Ethernet2-1.0.2`  to `C:\Users\ExplodingLemur\Documents\Arduino\libraries\Ethernet2`

[2017-08-21 06:15] mvladic commented on #159
Are you sure Arduino library is removed from the libraries folder?

[2017-08-23 02:51] ExplodingLemur commented on #159
prasimix: Renaming the directory doesn't change the result.
mvladic: Yes, there is no Ethernet2 library in the Arduino libraries directory, only the eez-open version in my local libraries directory.

[2017-08-23 07:03] mvladic commented on #159
The name of directory doesn't matter.

Go to your `C:\Users\ExplodingLemur\Documents\Arduino\libraries\Ethernet2-1.0.2\src` directory and open file Ethernet2.h. It should look like this (i.e. function setDhcpTimeout should be present inside EthernetClass.):

[code]
If that is not the case then you don't have eez-open version of Ehternet2 library.

[2017-08-24 03:35] ExplodingLemur commented on #159
I grabbed 1.0.2 from https://github.com/eez-open/Ethernet2/releases
The Ethernet2.h file only has the IPAddress and DhcpClass* private methods:
[code]

[2017-08-24 03:36] ExplodingLemur commented on #159
I just checked and the 1.0.1 and 1.0 releases from that repository don't have those changes either.

[2017-08-24 03:56] G33KatWork commented on #159
I just ran into the same problem. Don't use the release but the master branch of the EEZ-PSU Ethernet2 library.

[2017-08-24 04:45] mvladic commented on #159
Exactly! Latest release was before I forked Ethernet2 library. To prevent future mistakes I just made a new release with the latest version from master.

[2017-08-24 11:36] DwaineGarden commented on #159
I used the master and compiled the firmware without any errors under v1.8.3 and nightly build of the Arduino IDE.

[2017-08-24 11:51] DwaineGarden commented on #82
I tried the latest firmware version with the eez-remote python example.   I'm unable to duplicate the freezing bug.    I have used both channels and turned on and off each channel.   I also updated the channels on the eez power supply itself when eez-remote is running.   eez-remote even picks up the current status when updating by the touchscreen.  I also have a load on channel one while testing..

[2017-08-24 11:53] DwaineGarden commented on #82
Here is the Python3 script example for reference.

https://github.com/kevinee/eez-remote

[2017-08-24 14:36] DwaineGarden commented on #82
I also increased the sample rate from every 2.5 seconds to 0.5 seconds.  Rock solid!  No PSU locking or freezing.

[2017-08-24 14:51] DwaineGarden commented on #158
+1.   I would love to see battery profiles based of the data sheets specs for different batteries.  Even up to a vehicle 12volt battery.

[2017-08-24 15:06] dsaltas commented on #82
I confirm that bug is gone in latest firmware.

My boards are "Arduino R3B4" and "Power R5B9".

[2017-08-24 15:09] #82 closed, assigned to mvladic

[2017-08-25 14:17] dagema commented on #159
I am confused.  I just performed a download from the "Latest [release"](https://github.com/eez-open/psu-firmware/releases)
Source code (zip)

and still have the same problem - no ethernet2.h

What am I missing?

[2017-08-25 14:24] prasimix commented on #159
Did you download the latest Ethernet2 lib from [here](https://github.com/eez-open/Ethernet2/releases/tag/1.0.2-eez)?

[2017-08-25 14:33] dagema commented on #159
No. That node does not contain any arduino.ino project.  How do I integrate that node into the "Latest release" for Arduino sketch?

[2017-08-25 14:49] prasimix commented on #159
Libraries has to be placed into separate folder as noted in the firmware upload instructions [here.](http://www.envox.hr/eez/bench-power-supply/building-instructions.html#instr_fw)

[2017-08-25 14:58] dagema commented on #159
I copied subfolder "src" to the library subfolder "ethernet", and now get the following errors:

`Compiling library "Ethernet"
"C:\ProgramData\MATLAB\SupportPackages\R2017a\3P.instrset\arduinoide.instrset\idepkgs\packages\arduino\tools\arm-none-eabi-gcc\4.8.3-2014q1/bin/arm-none-eabi-g++" -c -g -Os  -std=gnu++11 -ffunction-sections -fdata-sections -nostdlib -fno-threadsafe-statics --param max-inli

[2017-08-25 15:04] prasimix commented on #159
What you copied is not an error text.

[2017-08-25 15:10] dagema commented on #159
Please look again. I highlighted the errors with bold type.

[2017-08-25 15:27] mvladic commented on #159
Arduino libraries (such as Ethernet2) doesn't contain aruduino.ino project because you don't need to compile libary as standalone project.

You need to compile [psu-firmware](https://github.com/eez-open/psu-firmware) - that's why you are here. To compile psu-firmware, among else, you must place [Ethernet2 library](https://github.com/eez-open/Ethernet2) inside Arduino libraries folder.

[2017-08-25 19:28] dagema commented on #159
Sorry, I am not very proficient in Arduino usage.  Do I have to rename the ethernet2-master directory to ethernet2, or do I just copy the directory as downloaded into the Arduino library?

[2017-08-25 19:41] mvladic commented on #159
You don't need to rename it, just copy the directory.

[2017-08-25 19:55] dagema commented on #159
I copied the directory into the Arduino library directory.  I now get following error:

`C:\Users\User\Downloads\psu-firmware-1.01\psu-firmware-1.01\eez_psu_sketch\eez_psu_sketch.ino:31:23: fatal error: Ethernet2.h: No such file or directory

 #include <Ethernet2.h>

                       ^

compilation terminated.

Using library SPI at version 1.0 in folder: C:\ProgramData\MATLAB\SupportPackages

[2017-08-25 21:12] mvladic commented on #159
What folders and files are inside C:\Program Files (x86)\Arduino\libraries\Ethernet2-master?

[2017-08-25 21:32] dagema commented on #159
All the files/directories found here: https://github.com/eez-open/Ethernet2
(Downloaded as zip and then unzipped and copied to Arduino library directory)

[2017-08-25 21:46] mvladic commented on #159
Could you post complete dump of compiling (make sure 'Show verbose output during compilation' in options is enabled)?

[2017-08-25 21:55] dagema commented on #159
Sorry, but the editor says my compilation dump is more than 65535 charachters long and will not accept it.

I have included it as a file:
[Arduio_Compilation.txt](https://github.com/eez-open/psu-firmware/files/1253118/Arduio_Compilation.txt)

[2017-08-26 07:54] dagema commented on #159
The problem is now solved.  I had been copying into the Arduino installation library directory instead of the Arduino user space library directory, which was the mistake.  After copying both library including ethernet2 and sketch folder into the Arduino user space directory, compilation performs without error.

Thank yoiu for a great product!

[2017-08-26 08:36] dagema commented on #159
I was too quick to rejoice: after successful upload of new firmware, the PS does not come out of standby mode. Here is the upload protocol:
`Linking everything together...
"C:\ProgramData\MATLAB\SupportPackages\R2017a\3P.instrset\arduinoide.instrset\idepkgs\packages\arduino\tools\arm-none-eabi-gcc\4.8.3-2014q1/bin/arm-none-eabi-gcc" -mcpu=cortex-m3 -mthumb -Os -Wl,--gc-sections "-TC:\ProgramData\M

[2017-08-26 09:37] prasimix commented on #159
First, 80 seconds upload (8x slower) indicate that you are using programming instead of native USB port. That is fine as long as you define that in your conf_user.h

Did you try to reset Arduino after upload? Also if your latest state was standby, that state will remain after reset. Did you try to touch the screen to wake it up from standby?

I presume that you have r5B12 Arduino shield and Power

[2017-08-26 10:25] dagema commented on #159
Yes, I tried all, but no reaction.  I now performed a fresh installation of Windows 7 Profressional on a new laptop and installed new Arduino ISE 1.8.4 on that laptop. After connection the PSU to that laptop I was able to install the new firmware and the PSU started normally and shows Firmware v1.01.  Problem is therefore now solved.  Apparantly there is a compatability issue with some additional

[2017-08-26 22:04] Len42 opened #160 "Unable to complete the calibration process"
Firmware version 1.01 (also observed on 1.0)
Shield & Powerboard version R5B12

When I perform the calibration process on either channel, I cannot get past the mid-current setting. It will not accept the number that I input, giving the error "Value out of range". I have tried entering the value in amps ("2.478A") or milliamps ("2478ma") and also tried some other random values but it always gives t

[2017-08-26 22:10] prasimix commented on #160
Ok, please let me know what is output voltage during current calibration _without_ load (should be 25 V) and _with_ connected load. I presume that you are using appropriate load (e.g. 4 Ohm or smaller)

[2017-08-26 23:48] ExplodingLemur commented on #159
Thanks.  Hadn't realized the releases were behind master.  It builds just fine now.

[2017-08-26 23:48] #159 closed, assigned to nobody

[2017-08-27 05:17] DwaineGarden commented on #160
I have the same problem.  Looks like when calibrating in current mode the psu is in CV.  I have 20v at 2484ma with each current test.

Once I got the psu to drop to CC on the 50ma test. I enter the value measured and it accepted it. Next current test back to only CV with 2484ma

Using a Keysight U1272a meter and a 1ohm 25watt @1 % resister

[2017-08-27 05:27] DwaineGarden commented on #160
Here are some photos of the situation during calibration.

![img_0073](https://user-images.githubusercontent.com/5897645/29747355-d2d83648-8ac6-11e7-8027-8d41468b21e8.JPG)
![img_0074](https://user-images.githubusercontent.com/5897645/29747357-d2edab7c-8ac6-11e7-9ada-32e001c3e0fb.JPG)
![img_0075](https://user-images.githubusercontent.com/5897645/29747356-d2e88a16-8ac6-11e7-814c-d3774a966570.JPG)

[2017-08-27 06:06] prasimix commented on #160
Ok, can you measure output current of e.g. about 1A when you set that current outside calibration wizard?

[2017-08-27 07:07] DwaineGarden commented on #160
Here is the test results.

![img_0077](https://user-images.githubusercontent.com/5897645/29747833-e84ce592-8ad4-11e7-91a6-93fd4f1d8ad2.JPG)

[2017-08-27 07:16] prasimix commented on #160
Ok, as you can get 1A you should get 2.5 or max. of about 5 A. All what I can say that your load is not connected during the current calibration process. Please check your wiring and try it again. Is it possible that mistakenly you connect load on e.g. Ch1 and you tried to calibrate Ch2?

[2017-08-27 07:31] DwaineGarden commented on #160
I just was able to do a calibration on both channels.  I rebooted the psu and then did another calibration on each channel.  It was successful on both channels. During the current tests, the psu went into CC successful.  Ummmm.  Something not right and I guess it does not get reset unless a reboot.

Len42, try a reboot and a Re-calibration

[2017-08-27 07:34] prasimix commented on #160
Yes, reboot is required after firmware upload if you talking about that case.

[2017-08-27 07:52] DwaineGarden commented on #160
Found the problem!!!  Looky what I have for a load.  It's not 1ohm, it's 1k.  The packaging was wrong!!!

Lol.    Len42, double check your load resistance.

![img_0078](https://user-images.githubusercontent.com/5897645/29748052-3119412a-8adb-11e7-8561-966e9c49912f.JPG)

[2017-08-27 07:53] prasimix commented on #160
:rofl:

[2017-08-28 14:12] prasimix commented on #159
A short video about installing Arduino IDE and firmware components is now available [here](https://www.youtube.com/watch?v=Ar5kHiepsNM).

[2017-08-28 16:22] prasimix opened #161 "Selftest failed on serial remote session when temp sensor is not detected"
If error selftest is initiated via serial remote session (e.g. `SYST:POW 1` or `*TST?`) and any of channel's temp sensor is not detected (e.g. the Power board is detached or sensor is damaged) a firmware will stuck and only hard reset can help.
To reproduce it unplug one Power board from the Arduino shield, power up PSU, initiate serial session and execute `*TST?`

[2017-08-28 18:08] pchickey opened #162 "Can't exit screen lock after reboot, date/time dialog present"
* Firmware version: 1.0
* Shield version: Crowdsupply Backer (r5B12)
* Powerboard version: Crowdsupply Backer (r5B12)

### Expected behavior

Screen lock should be possible to exit by pressing on the lock icon.

### Actual behavior

Cannot exit screen lock by pushing lock icon, or rebooting. The "Do you want to set date and time?" dialog window is present on the screen, which may be related.

###

[2017-08-29 07:26] prasimix commented on #162
In the mean time you can use [SYST:LOC](http://www.envox.hr/eez/bench-power-supply/psu-scpi-reference-manual/psu-scpi-subsystem-command-reference/psu-scpi-system.html#syst_loc) command (using serial/USB connection) to unlock your display remotely.

[2017-08-29 10:59] mvladic commented on #161
Apparently, there is an limit of max. 64 characters when printing strings using `Serial.println(const char *)`.

Following string was printed when CH2 temperature sensor test failed:

[code]

which has 71 characters. That was cause of blocking.

In this fix, I replaced single `println` with multiple `print`'s followed by the `println` at the end.

[2017-08-30 03:08] DwaineGarden opened #163 "Both channel output is active during firmware updating. No indication that channels are active"
* Firmware version: latest git pull from master
* Shield version: R5B12
* Powerboard version: R5B12
![img_0079](https://user-images.githubusercontent.com/5897645/29853601-de99f27e-8d0e-11e7-9c5a-1455177fa5ef.JPG)

The two output channels are active during a firmware update, even though the LCD and panel LEDs are off.

The output channels should be off while doing a firmware update.  Attached is a

[2017-08-30 05:51] prasimix commented on #163
There is no cure for that since firmware uploading process is obviously not under firmware control :)

[2017-08-30 11:53] sorlok72 commented on #158
Alter researching a bit on the subject, there are 3 ways to charge LIPO, LiFo etc.
Balanced charging, individual measuring and charging each cell
Charging all celle at once, monitoring individual cells
Just charging all cell at once, not nice/safe

So to do this would require allot of channels and sens lines.
I dont think this is doable without HW changes,

[2017-08-30 11:56] prasimix commented on #158
Thanks for comment, but this issue is still valid for some older type of batteries like Pb, NiCd, NiHm or that is not interesting nowadays to anyone?

[2017-08-30 11:58] sorlok72 commented on #158
No problem, just wanted to stop the part I created, so you would not waste
time on it

2017-08-30 13:57 GMT+02:00 prasimix <notifications@github.com>:

--
Med Venlig Hilsen
Søren Løkkegaard

[2017-08-30 15:24] Len42 commented on #160
You're right, I was not using the correct load. I didn't read the load requirements correctly.
Sorry about that. I will assume this is working correctly, until I get a proper load set up to do the calibration properly.

[2017-08-30 15:24] #160 closed, assigned to nobody

[2017-08-30 18:15] dagema commented on #95
I have been trying to use the SCPI interface.  I can connect to the EEZ PSU via TCP/IP using Keysight Command Expert with Generic SCPI-99 Instrument / 1.0 command set, and some commands work while others seem to be missing.  Examples of working commands are: SYSTem:ERRor?, SYSTem:VERSion?,
STATus:PRESet, STATus:OPERation:ENABle?, STATus:OPERation:EVENt?, STATus:QUEStionable:ENABle?, STATus:QUEStio

[2017-08-30 18:44] prasimix commented on #95
Hm, I'm not sure to which extend Keysight Command Expert is usable (at least some of recent versions such as 2017). It don't allow you to send anything what is not specified under command set of selected instrument, and _Generic SCPI-99 Instrument / 1.0 command set_ is laughably limited. For that we should have specification of its "instrument" or maybe with VISA driver that could be possible. But

[2017-08-30 19:03] dagema commented on #95
OK, I have both LabVIEW and Matlab.  I will give them a try.
Thanks for the input.

[2017-09-02 18:50] DwaineGarden commented on #163
Ok.... It still good to have this issue noted here for anyone which did not know that during the firmware update is the outputs are active, they'll be active during the firmware update process.

[2017-09-03 03:46] pchickey commented on #162
Thanks. I just got around to trying SCPI tonight. I might be missing something obvious, but I'm unable to connect to the device over the usb/serial connection - with a USB cable connected to the Due "native" port, the Arduino shows up as a serial device, but when I send it any sort of input with a terminal (I'm using minicom, 9600 baud, 8n1) there is no response. Is there some recommended SCPI cli

[2017-09-03 06:28] prasimix commented on #162
Any text console should be fine for SCPI communications. Maybe you experience the same problem that is reported in [psu-hw #53](https://github.com/eez-open/psu-hw/issues/53). In that case you will have a problem with uploading firmware, too.
Anyway, you can upload the latest firmware from master branch where this issue is solved.

[2017-09-03 23:17] pchickey commented on #162
I uploaded the firmware at 8fd83fa and the issue is fixed. SCPI works now as well. Thank you for your help!

[2017-09-03 23:17] #162 closed, assigned to mvladic

[2017-09-09 17:08] jcg747 opened #164 "Unable to upload 1.01 firmware 'SerialUSB was not declared in this scope'"
* Firmware version: 1.0
* Shield version : r5B12
* Powerboard : r5B12

I have current firmware 1.0 and tried to upgrade to 1.01
I have installed IDE 1.8.4 (windows version)
My EEZ H24005 is correctly connected on COM7 (native port)
When I press verify, I got the following error message
'SerialUSB was not declared in this scope'

Here is the full message
[code]

I never played with arduino before,

[2017-09-09 17:14] prasimix commented on #164
Did you select _Arduino Due (Native USB Port)_ under **Tools... Board:** in Arduino IDE? It seems that you have default board selected.

[2017-09-09 18:09] jcg747 commented on #164
Thanks for the help Denis,
Argh, I followed the youtube firmware updater video so I selected Mega 2560 ...
So board is now : Arduino Due native port
port is COM9 (Arduino Due native port)
Get board info will bring:
BN: Arduino Due (Native USB Port)
VID: 2341
PID: 003E
SN: Upload any sketch to obtain it

When I press the verify button I get:
[code]

So what should I do ?

[2017-09-09 18:12] prasimix commented on #164
Are you trying to upload [1.01](https://github.com/eez-open/psu-firmware/releases/tag/1.01) or the latest firmware build from [master branch](https://github.com/eez-open/psu-firmware)?

[2017-09-09 18:19] jcg747 commented on #164
Well , I just downloaded it from master branch. Should I download something else ?

[2017-09-09 18:25] jcg747 commented on #164
I'm a noob,  I download the 1.01 and now I got this error message

Arduino: 1.8.4 (Windows 10), Board: "Arduino Due (Native USB Port)"
sketch\ethernet.cpp: In function 'void eez::psu::ethernet::init()':
ethernet.cpp:146: error: 'class EthernetClass' has no member named 'setDhcpTimeout'

     Ethernet.setDhcpTimeout(ETHERNET_DHCP_TIMEOUT * 1000UL);
              ^
exit status 1
'class EthernetClass

[2017-09-09 18:51] jlegen commented on #164
Did you follow '3.' from the installation instructions? Ethernet2 seems to be missing/wrong...

[2017-09-09 18:58] jcg747 commented on #164
Sorry, where can I download installation instructions so I can see what '3' refer to ?

[2017-09-09 19:07] prasimix commented on #164
Everything is mentioned [here](http://www.envox.hr/eez/bench-power-supply/building-instructions.html#instr_fw) (that is section 3), maybe you didn't follow it from the start. So, _Ethernet2_ lib is available [here](https://github.com/eez-open/Ethernet2/releases/tag/1.0.2-eez). Additionally you can find a short video about firmware upload [here](https://www.youtube.com/watch?v=Ar5kHiepsNM).

[2017-09-09 19:18] jcg747 commented on #164
Sorry for the mess, I will start from the beginning and will let you know.
Thanks again

[2017-09-09 19:33] jcg747 commented on #164
Bingo, by downloading ethernet2 version 1.02-eez.zip instead of the 1.0.4 found on the web, everythin went fine and I have now firmware 1.01 loaded on this amazing product.

Again sorry for being so noob here but I never "touch" an Arduino before nor done any programming.
Thanks for you patience

[2017-09-09 19:47] #164 closed, assigned to nobody

[2017-09-16 11:16] prasimix opened #165 "Prepare .HEX/.bin for direct firmware upload without Arduino IDE"
We should include .HEX file in firmware release as _texaspyro_ suggested [here](http://www.eevblog.com/forum/crowd-funded-projects/preparing-eez-h24005-for-crowdfunding/msg1284760/#msg1284760) that people who are not familiar with Arduino IDE can upload it to the PSU directly.

As code uploader for ARM (Arduino Due) we can probably use [BOSSA](https://github.com/shumatech/BOSSA/releases) that supp

[2017-09-16 11:39] prasimix commented on #165
I tried to compile BOSSA 1.8 on Ubuntu 16.04LTS. It seems that the following two packages are needed:
`libwxgtk3.0-dev` and `libwxbase3.0-dev`. But even with them `make` returned the following error:

[code]
When try to start ./bossa in bin folder it appears but immediately crash after `Serial Port` is selected:

![screenshot from 2017-09-16 13-43-00](https://user-images.githubusercontent.com/1510

[2017-09-18 07:38] prasimix opened #166 "Pin1 inhibit functionality"
Current implementation of output inhibit function (`[SOURce:]DIGital:PIN<n>:FUNCtion INHibit`) is not satisfactory. When inhibit signal is active (`PIN1`), both outputs will be turned off. But, that will not stop execution of running `LIST` and displayed `OFF` texts remains yellow marked.
When inhibit signal is removed, channel's activity should be restored. That include execution of LIST too. Sin

[2017-09-20 14:45] prasimix opened #167 "Invalid protection trip condition when enters coupling mode"
If coupling mode is entered when protection trip is active on one channel, firmware will report error on attempt to enable output. For example, let say that in uncoupled mode OCP is active on CH2:

![screenshot from 2017-09-20 16-36-18](https://user-images.githubusercontent.com/15106476/30650179-8e5985d4-9e22-11e7-9e60-045366e6a8b7.png)

We'll couple outputs (e.g. in series), and by default couple

[2017-09-22 14:55] mvladic opened #168 "Test"
Do it in two steps:

1) Push latest Dev version to the Fix server. Copy database and files (without Walls) from production to fix server.

2) When we are sure that everything works on Fix server then push Dev version to the Production server.

[2017-09-22 14:59] #168 closed, assigned to mvladic

[2017-09-24 14:22] prasimix opened #169 "Various issues with channel triggering"
The following issues have to be addressed when both channels are using triggering and are not in tracking mode nor coupled:

1. When list is running on one channel, changing trigger mode (e.g. from `LIST` to `FIXed`) on the second one will stop list execution on other channel
1. When lists are running on both channel, disabling just one channel output will affect both channels
1. Confirmation of l

[2017-09-25 11:16] #17 closed, assigned to mvladic

[2017-09-25 11:17] #7 closed, assigned to mvladic

[2017-09-25 11:18] #3 closed, assigned to mvladic

[2017-09-30 07:12] prasimix opened #170 "YT-view display issue"
Displaying certain values in YT-view seems that is not correct. Same values looks fine on bar-graph views. I found that first on the real device but same thing is reproducible on the simulator too. Here is an example:

U_set = 15 V, I_limit = 500 mA and connected load is 85 R:

![bargraph v 15 ilim 500ma load 85r](https://user-images.githubusercontent.com/15106476/31043564-b07b9fc8-a5be-11e7-8753-

[2017-09-30 18:19] reportingsjr opened #171 "Won't allow me to save calibration"
* Firmware version: 1.01

### Expected behavior
When I get to the calibration remarks page, enter "new cal" and hit the checkmark button it should ask to save the calibration.

### Actual behavior
After hitting ok the calibration remarks page shows back up again and I don't get a prompt to save the calibration. Trying to hit the "next step" arrow says "invalid cal data" so my only other option is

[2017-09-30 21:01] prasimix commented on #171
Is it possible for you to establish communication with serial and let us know how your trace log looks like during calibration? I presume that you passed all three phases successfully: voltage, high and low current.

[2017-09-30 21:34] reportingsjr commented on #171
All three phases were successful.

Here is what the serial log looks like starting from the front panel and ending at the "calibration remark" screen (using the Arduino 1.8.1 IDE with 115,200 baud rate):
**TRACE [2000-01-25 15:45:27]: Voltage range: 0.000000 - 40.000000V
**TRACE [2000-01-25 15:45:27]: ADC=0.121315
**TRACE [2000-01-25 15:46:41]: Current range: 0.000000 - 5.000000A
**TRACE [2000-01-

[2017-09-30 21:37] prasimix commented on #171
Ok, why latest trace line is partial? Is that a copy&paste mistake or it's really like it? If I understood you correctly you cannot enter calibration text in the final step?

[2017-09-30 21:39] reportingsjr commented on #171
That is what it is really like. I thought it was strange as well.

I can enter the text, but when I hit the check mark to save the text it just goes back to the "calibration remark" screen and doesn't give me the "save calibration" modal. The calibration remark is shown there.

[2017-09-30 21:44] reportingsjr commented on #171
I was able to make it lock up at this point as well. After I entered the text and hit the checkmark, I then hit the home button, then hit "no", then when I tried to press the "next step" button it locked up until I restarted the PSU.

I'm not familiar with the DUE/Atmel SAM microcontrollers. Is there any way to run a debugger like gdb on these micros to step through code, set breakpoints, etc?

[2017-09-30 21:44] prasimix commented on #171
Strange. What's about other functions that require storing of parameters, e.g. saving user profile? Can you try to save current parameters under any user profile except 0? User profiles can be found under second icon on the bottom of the main page. See Fig 2 [here](http://www.envox.hr/eez/bench-power-supply/psu-firmware.html).

[2017-09-30 21:48] reportingsjr commented on #171
Oh, this is weird.

I connected the output of channel 1 to the current measurement terminal on my voltmeter (just so there would be a load) and when through the calibration. Rather than reading on the meter what the cal was I just entered exactly what it was trying to calibrate the PSU to and with those values it worked fine.

[2017-09-30 21:54] prasimix commented on #171
OK, so you still have a problem or not?
Are you using power resistor for current calibration?

[2017-09-30 22:01] reportingsjr commented on #171
Tried the real calibration again and it wouldn't let me save cal again.

This is how I'm doing calibration fyi:

First the output is connected to the voltage measurement terminal and common terminal my bench voltmeter and I record the three calibration voltages.
Next I move the positive output from the voltage terminal to the current terminal and record the first two voltages.
Next for the high cu

[2017-09-30 22:03] prasimix commented on #171
Ok, what is the value of your power resistor used for current calibration? It should be below 5 Ohms for high current range.

[2017-09-30 22:07] reportingsjr commented on #171
I was just using the current range (so basically their shunts) on my meters as the loads. My handheld meter is reading 4.97A during the test so I figured this was fine. I do have some power resistors below 5 Ohms I can use, just didn't want to measure the voltage across them to do the math for current. :P

A couple of other things to note (more information is better than no enough, right?):
I noti

[2017-09-30 22:12] prasimix commented on #171
I'm not sure what you are doing. Please use for voltage calibration voltmeter and for current calibration external power load with ammeter (e.g. 10 A) connected in series with load. There is no need to calculate anything while calibrating: just enter values that you read on your voltmeter and ammeter.
[Here](https://www.youtube.com/watch?time_continue=4&v=Wbq7mmp_3rc) you can also find a video abo

[2017-09-30 22:26] reportingsjr commented on #171
Ok, I followed that video exactly (besides for the lower current range) using a 3.8 ohm power resistor and it still did the same thing where it won't let me save calibration.

[2017-10-01 01:37] reportingsjr commented on #171
After quite a lot of debug statements (oh my god why does arduino not have a freaking debugger?) I narrowed it down to the low current range mid value check (Value::checkMid()). My unit was out of the allowed calibration tolerance (1% which seems a bit tight!). I changed the allowed tolerance to 10% which allowed my unit to pass. What I don't know is why the DebugTraceF in that function is failing

[2017-10-01 06:23] prasimix commented on #171
Thanks for that, Martin has to jump in here and instruct you how to proceed.

[2017-10-01 08:56] prasimix opened #172 "SYSTem:COMMunicate:ENABle does not affect displayed icon"
`SYSTem:COMMunicate:ENABle` command does not affect displayed icon.

For example if `SYSTem:COMMunicate:ENABle 0, ETH` is executed, Ethernet communication will be disabled but its icon will not be changed. If that is related to required restart of the PSU, there is no reason why we shouldn't display icon in "error" state (red background).

Additionally it seems that `SYSTem:COMMunicate:ENABle 0, S

[2017-10-02 07:43] prasimix commented on #166
Fixed

[2017-10-02 07:43] #166 closed, assigned to mvladic

[2017-10-02 08:11] prasimix commented on #170
Fixed. Problem was with values lower then 1.

[2017-10-02 08:11] #170 closed, assigned to mvladic

[2017-10-02 08:16] prasimix commented on #161
Now it works but for some reason temp error is reported twice:

[code]

[2017-10-02 08:18] #152 closed, assigned to mvladic

[2017-10-02 08:30] prasimix commented on #161
Fixed

[2017-10-02 08:30] #161 closed, assigned to mvladic

[2017-10-02 09:42] mvladic commented on #171
The reason why DebugTraceF didn't print out the whole data is for the same reason explained in this ticket:

https://github.com/eez-open/psu-firmware/issues/161

This is now fixed.

[2017-10-02 09:43] mvladic commented on #171
I'm using [Atmer SAM-ICE](http://www.atmel.com/tools/atmelsam-ice.aspx) with [Ozone](https://www.segger.com/products/development-tools/ozone-j-link-debugger/).

[2017-10-02 09:49] prasimix commented on #171
Such tight tolerance is set intentionally, if you'd like to have properly calibrated unit then 1% is more then enough with reasonably accurate external DMM.

[2017-10-04 08:57] prasimix commented on #172
If Ethernet is disabled (no icon is shown on local display), sending of `SYSTem:COMMunicate:ENABle 0, ETH` will display red Ethernet icon, what is not correct.

[2017-10-04 09:02] prasimix commented on #167
Fixed

[2017-10-04 09:16] prasimix commented on #167
Ignore, see #173

[2017-10-04 09:39] prasimix commented on #122
Fixed

[2017-10-04 09:39] #122 closed, assigned to mvladic

[2017-10-04 10:05] prasimix opened #173 "User profile recall can affect output state when protection trip is not cleared"
When any of protection is tripped and not cleared, if I choose to recall params from user profile that has defined that channel's output are enabled (ON state), that will actually happen despite the fact that protection trip is not cleared!

[2017-10-04 10:21] prasimix commented on #167
Argh, there is still one issue here. Follow this steps to reproduce it:

1. Trigger any protection trip (e.g. OCP on CH1) when channels are not coupled
1. Enter any coupling mode
1. Clear tripped protection
1. Uncouple channels again
1. If you try to enable CH1 (without load connected) an error message will be displayed, but OCP is marked green (cleared)
1. Additionally if you try to enable CH2 (w

[2017-10-04 10:57] prasimix commented on #173
Fixed

[2017-10-04 10:57] #173 closed, assigned to mvladic

[2017-10-04 10:59] prasimix commented on #172
Fixed

[2017-10-04 10:59] #172 closed, assigned to mvladic

[2017-10-04 11:22] prasimix commented on #167
Scenario reported in previous comment is fine! When channels are uncoupled OCP will remain, but current will be se to zero, therefore OCP will trip when output is set to ON.

[2017-10-04 11:22] #167 closed, assigned to mvladic

[2017-10-05 11:03] prasimix opened #174 "Restarting list when trigger is still active"
The following scenario has to be addressed properly: LISTs with different list count (e.g. 3 and INFinity) are running on channels. When shorter list is finished, let say on CH1, its output will be disabled (OFF) and on next attempt to start a list (by click on OFF text) we have to display message like `"Trigger is active. Re-initiate trigger? Y/N)"`.
On attempt to change channel state return erro

[2017-10-05 11:57] prasimix commented on #174
Fixed

[2017-10-05 11:57] #174 closed, assigned to mvladic

[2017-10-05 12:42] #171 closed, assigned to mvladic

[2017-10-06 07:06] prasimix opened #175 "Change identification string"
Change identification string returned by `*IDN?` for easier model detection. Currently we have `EEZ,PSU 2/40/05 (Due),xxxxxxx,v1.02` for physical device and `EEZ,PSU 2/40/05 (Simulator),xxxxxxx,v1.02` for simulator where xxxxxxx is serial number.

New proposal:
- `Envox,EEZ H24005 (Due),xxxxxxx,v1.02` for physical device
- `Envox,EEZ H24005 (Simulator),xxxxxxx,v1.02` for simulator

[2017-10-06 11:42] AndersWestman opened #176 "Step mode value storage"
When changing values in step mode the size or “gain” of the steps follows between different settings.
E.g. I choose to change the voltage in 0.5V steps (next lowest step size) and then choose to change the current in 250mA steps (next highest). If I then goes back to set the voltage again, the step size now is 2V instead of 0.5V as it keeps the setting to the next highest value.
This may be a litt

[2017-10-09 08:49] prasimix opened #177 "SYSTem:DIGital:OUTPut:DATA? is not implemented"

[2017-10-09 09:08] prasimix opened #178 "SYSTem:COMMunicate:RLSTate? is not implemented"

[2017-10-14 20:08] AndersWestman commented on #143
Idea for temp sensor functionally: External overheat protection.
Protection can be set in two levels: Warning and Trip.

Regular overtemp protection:
Warning or Trip occurs then temp goes over setpoints.

Delta T protection:
Warning or Trip occurs then temp rises faster than setpoints.

[2017-10-18 02:30] ZakDanger commented on #165
Perhaps a first step might to be to provide the prebuilt .HEX file in the releases/downloads area, either inside the source packs or as a separate file. Then once people have the .HEX file they can try programming it themselves and report back success or issues in doing so.

[2017-10-22 10:12] prasimix opened #179 "Channel with active trigger affect other channel"
When e.g. CH1 trigger is set to LIST and CH2 is set to FIXed, and both outputs are enabled, disabling CH1 output will disable CH2 output too. On the other side changing of CH2 output does not affect CH1 output.

Take care that fixing this issue does not affect resolved issue #122 and #174.

[2017-10-28 14:13] dagema commented on #95
I am unable to generate a VISA driver using LabVIEW, because the device is not compatible with VISA with a null value for the serial number.  Is there a way that I can set the H24005 serial number?

[2017-10-28 16:04] prasimix commented on #95
You can check serial number with SYST:SER? and set it with same command. It's a string up to 7 character long, e.g. SYST:SER "PSU0001"

[2017-10-29 06:16] prasimix opened #180 "Daylight saving (DST) change failed"
It seems that day saving change failed tonight. My date/time settings are: NTP disabled, Time zone: +1 GMT, DST: Europe. Time was changed but difference is 4 hours, e.g. instead of 7:15 i have 3:15.

In event view I can see six `[02:00:00] Date/Time changed (DST)` message !!!

Note also that when NTP is disabled, time is not displayed in real time on settings page (I have to exit and enter page to

[2017-10-29 07:06] prasimix commented on #180
In the mean time I got another two `[02:00:00] Date/Time changed (DST)` message in event view. Time is again reset to 02:00:00 and counting! Probably we can expect new resets every single hour.

[2017-10-30 22:15] prasimix commented on #180
Still doesn't work or maybe I'm doing something wrong. Steps to reproduce:

1. Set date to 2017-10-29, and time to e.g. 02:59:30
1. Wait until 03:00 passed to check new time that is set to 02:00
1. Set time again to 02:59:30
1. Wait until 03:00 and time will be set once again to 02:00

Also it's questionable what time has to be recorded: old (03:00) or new (02:00)?

Refreshing of time on date and

[2017-10-30 22:29] mvladic commented on #180
When you do this, DST is set again.

Ok, we could refresh time but only until you make a change in any part of date and time, after which date and time will stay still.

[2017-10-30 22:31] #180 closed, assigned to mvladic

[2017-10-30 22:32] prasimix commented on #180
Does it mean that I have to wait one hour to see if everything works correctly?

[2017-10-30 22:33] prasimix commented on #180
Sounds good!

[2017-10-31 09:28] mvladic commented on #180
Yes.

[2017-10-31 09:44] prasimix commented on #180
Tested, works as expected.

[2017-10-31 09:47] mvladic commented on #180
Fixed!

[2017-10-31 16:45] prasimix opened #181 "Option to lock set and limit current"
Add new GUI feature that current limit is "locked" (follow) set current. The result will be that on bar graph views current full scale will be always programmed current.

![lock limit](https://user-images.githubusercontent.com/15106476/32236617-fc44c59e-be62-11e7-85df-ac7ff9df4ed0.png)

[2017-11-02 13:02] prasimix opened #182 "DEBUg? blocks MCU when send via serial"
Although `DEBUg?` is an "internal" command intended for firmware development it will be visible in forthcoming EEZ Studio SCPI terminal it has to be mentioned here because when send via serial it will block MCU and watchdog IC will generate hard reset.

[2017-11-02 22:40] prasimix commented on #96
Mentioned by Tazz on [EEVblog forum](http://www.eevblog.com/forum/projects/diy-programmable-dual-channel-bench-psu-0-50v3a/msg1339483/#msg1339483):

[2017-11-03 15:50] prasimix commented on #96
See also measurements in this [post](http://www.eevblog.com/forum/projects/diy-programmable-dual-channel-bench-psu-0-50v3a/msg1340098/#msg1340098) if that is somehow related.

[2017-11-04 15:36] prasimix commented on #96
Resolved on hardware side. Check _[Soft start and DOUT2 controls (#36)](https://github.com/eez-open/psu-hw/issues/36)_.

[2017-11-04 15:36] #96 closed, assigned to nobody

[2017-11-05 10:14] AndersWestman opened #183 "Power limit warning can be overridden in serial coupling mode"
* Firmware version: 1.01
* Shield version: r5B12
* Powerboard version:  r5B12

### Expected behavior
Power limit warning are supposed to pretend settings over 310W.

### Actual behavior
In serial coupling mode power limit warning can be overridden if the PSU is in cc-mode and the load is small, below about 10 ohm, or shorted output.

### How to reproduce
Coupling: Serial
Volt: 80V
Load: 0-10 Ohm (

[2017-11-05 10:16] prasimix commented on #183
Additionally, when load is disconnected it is not possibly to change output values due to Power limit exceeded error.

[2017-11-05 11:04] AndersWestman commented on #183
More observersions, setup as described above.

Load 0-4.7 Ohm.
Keypad or SCPI-command can be used to go back under power limit level with no load or output off.

Current can be set from about 1.5-3A to anything up to 5A using keypad or SCPI-command without power limit warning.
If current is set to something below 1-1.5A power limit warning occur as expected. This limit does not seem to be fixed. S

[2017-11-06 22:20] prasimix commented on #183
Fixed

[2017-11-06 22:20] #183 closed, assigned to mvladic

[2017-11-12 06:57] prasimix opened #184 "Decrease frequency of saving changes into EEPROM"
When encoder is used, new set value is saved into EEPROM every one second (profile 0). Decrease frequency of saving to 60 seconds. Do the same with SCPI if frequency is higher (e.g. each 15 seconds).

[2017-11-13 16:01] prasimix commented on #184
I cannot enter user profiles page anymore!

[2017-11-13 16:30] mvladic commented on #184
Fixed!

[2017-11-20 10:23] #184 closed, assigned to mvladic

[2017-11-22 14:12] prasimix opened #185 "Consolidate error messages for calibration and system password"
Remove the following error code/message: 122, 125, 126. Use Calibration password error messages for system password too (remove "Cal" from message's texts").

[2017-11-22 15:32] prasimix commented on #185
Fixed

[2017-11-22 15:32] #185 closed, assigned to mvladic

[2017-11-23 15:06] prasimix commented on #88
~~At `*RST`, this value is not set to the root path.~~

[2017-11-24 16:57] prasimix opened #186 "Increasing value by encoder in confirmation mode"
When encoder so-called confirmation mode is enabled increasing value does not work correctly.

[2017-11-24 17:33] prasimix commented on #186
Fixed

[2017-11-24 17:48] prasimix commented on #186
Still doesn't work correctly when channels are coupled

[2017-11-25 13:23] prasimix opened #187 "Erratic premature disabling of down-programmer on output off with INHibit"
When `INH` input is used to control channel's output states (separated, in tracking or coupled mode) down-programmer is instantly (prematurely, since it's set with `DP_OFF_DELAY_PERIOD` constant that is higher then zero) disabled. I cannot find a pattern of such erratic behavior. Following screenshots displays how it looks like.

It's also possible to see it on in YT view (4) with fast refresh rat

[2017-11-27 11:32] prasimix commented on #187
Fixed

[2017-11-27 11:32] #187 closed, assigned to mvladic

[2017-11-28 07:02] kolesar007 opened #188 "Fan speed control logic"
I have sugestion for fan speed logic:
we can have three settings: PWMmin and two temperatures Temp1 and Temp2.

Speed PWMmin would be up to the Temp1.
Then between Temp1 and Temp2 PWM will be controled from PWMmin to 100%
From Temp2 fan will be at 100%

[2017-12-04 08:06] ThisIsWebGoat opened #189 "Unable to compile sketch in Arduino: 'pages' not declared"
I am trying to compile the psu-firmware-1.02 release in Arduino 1.8.5 but I am getting errors when verifying.

### Arduino output:

Arduino: 1.8.5 Hourly Build 2017/08/28 06:33 (Windows 10), Board: "Arduino/Genuino Mega or Mega 2560, ATmega2560 (Mega 2560)"
sketch\gui.cpp: In function 'void eez::psu::gui::init()':
gui.cpp:1175: error: 'pages' was not declared in this scope
     arduino_util::prog_

[2017-12-04 08:33] mvladic commented on #189
Change board to Arduino Due (Native USB port). Before that you will need to download Arduino SAM Boards (check [this video](https://www.youtube.com/watch?v=Ar5kHiepsNM)).

[2017-12-04 08:42] ThisIsWebGoat commented on #189
Changing the board to "Due" did the trick! Also explains why I ran into the SerialUSB issue. Thanks a lot!

[2017-12-04 08:42] #189 closed, assigned to nobody

[2017-12-08 08:39] caizikun commented on #81
for the current range: 500mA, the resolution is only 0.1mA. I think this is hard to used as source meter due to resolution.
Mostly Source meter is used for optical LIV test. If current range is 0-500mA, the expected resolution is less than 0.03mA(14 bit DAC). For some laser, <10uA resolution are expected.

[2017-12-08 08:44] prasimix commented on #81
0.1 mA is currently used when it's used for power sourcing. We still have 15-bit ADC for reading and 16-bit DAC for settings output value that can be used if eventually a sort of SMU functionality is going to be added. I said a sort, since it could be hardly in the same class as commercial device built with SMU functionality in mind.

[2017-12-12 15:22] romain145 opened #190 "False attempt to calibrate current without load connected"
* Firmware version: git 0fd1a68
* Shield version: crowd supply (r5B12)
* Power board version: crowd supply (r5B12)

### Expected behavior

When calibrating Ch1 MID point current, I should be able to enter the value I measured: 2.492 (A).

### Actual behavior

The screen displays an error "Value out of range".

### How to reproduce

Enter 2.492 for current MID point calibration.

[2017-12-12 17:20] prasimix commented on #190
Possible duplicate of #160. Trace log on serial is needed to check values.

[2017-12-13 09:44] romain145 commented on #190
Current [0-5A] MID point:
 `**TRACE [2017-12-09 18:23:10]: Voltage range: 0.000000 - 40.000000V
**TRACE [2017-12-09 18:23:10]: ADC=0.191949
**TRACE [2017-12-09 18:24:13]: ADC check failed: level=2.425000, adc=-0.005169, diff=2.430169, allowedDiff=0.475000`

Current [0-5A] MAX point:
`**TRACE [2017-12-09 18:25:50]: ADC check failed: level=4.800000, adc=-0.005322, diff=4.805322, allowedDiff=0.475000

[2017-12-13 09:45] prasimix commented on #190
Do you have load connected during current calibration?

[2017-12-13 09:57] romain145 commented on #190
Yes, but it seems that my load impedance was way too low for the PSU.
I'm trying with a 1 Ohm load now and went through the calibration!

For some calibration, clicking "Change" after setting a calibration value doesn't re-enable the output.

[2017-12-13 10:17] prasimix commented on #190
You mean your load is too high, since measured current is zero. Use resistor that is lower then about 4 Ohms as it's clearly stated [here](http://www.envox.hr/eez/bench-power-supply/group-buy-kit-assembly.html#powering_up).

Please be more specific. Which "Change" button/option?

[2017-12-13 10:42] romain145 commented on #190
The multimeter was correctly measuring the current so I'm not sure what the deal was...
Indeed, by using a 1-4 Ohm load, the calibration procedure runs just fine. Great job !

The Change option is working, I noticed I blew the low amp range fuse on my multimeter (EEVBlog BM235). The multimeter case is rated 600mA, so I used it for the 500mA calibration; however, Dave fitted a 400mA fuse...

Closin

[2017-12-13 10:42] #190 closed, assigned to nobody

[2017-12-22 07:03] prasimix opened #191 "Action recorder"
"Action recorder" should record all user activities via local console (touchscreen display) as sequence of SCPI commands. Activities could be stored locally on the SD Card or send in real time via established connection with EEZ Studio. Recorded SCPI commands sequence could be further edited and used for automating process of programming the PSU.

[2017-12-29 13:14] prasimix opened #192 "Change subsystem for DIGital SCPI commands"
Currently `DIGital` group of commands belongs to `SOURce` that is instrument (channel) specific while our digital I/O are system specific. Therefore that commands have to be moved to `SYSTem` subsystem.

[2017-12-29 14:09] prasimix commented on #192
Fixed

[2017-12-29 14:09] #192 closed, assigned to mvladic

[2017-12-30 12:14] Helix70 commented on #88
Version 1.1 SD Card Failed on startup, but seems to respond to firmware anyway.
See SCPI commands below:

*IDN?
Envox,EEZ H24005 (Due),CS17054,v1.1

MMEM:CAT?
"System Volume Information,FOLD,0"

MMEM:INFO?
12288,7974543360

*TST?
1

DIAG:INFO:TEST?
"1, EEPROM, installed, passed","0, SD card, installed, failed","1, Ethernet, installed, passed","1, RTC, installed, passed","1, DateTime, installed, pa

[2017-12-31 00:11] Helix70 commented on #88
If I move the lines

#if OPTION_SD_CARD
    sd_card::init();
#endif

down below

#if EEZ_PSU_SELECTED_REVISION == EEZ_PSU_REVISION_R3B4 || EEZ_PSU_SELECTED_REVISION == EEZ_PSU_REVISION_R5B12
    fan::init();
#endif

and recompiled, and that seems to avoid the error. Not sure if you needed the SD card earlier, but that was my observation. May be timing related.

After this, however, the MMEM:CAT? c

[2017-12-31 08:19] Helix70 opened #193 "Can't enable serial with non 9600 baud rate"
* Firmware version: 1.02
* Shield version R5B12
* Powerboard version R5B12

Should be able to enable the serial at any baud rate, and have it store the settings and enable the serial port.

When trying to enable the serial communications, the unit will not keep the settings unless the baud rate is set to 9600. After storing 9600, you can change it successfully to any baud rate. If you try and set

[2018-01-02 09:37] mvladic commented on #88
Do you have this problem only on the latest version? We moved recently to a [different SD library](https://github.com/eez-open/SdFat).

[2018-01-02 11:49] Helix70 commented on #88
Correct. No SD Card errors until 1.1 with the new SD card library.

[2018-02-07 11:52] prasimix opened #194 "Switch off all outputs when reverse polarity tripped"
"Switch off all outputs when protection tripped" is not affected by reverse polarity protection event

[2018-02-07 15:39] prasimix commented on #194
Fixed

[2018-02-07 15:39] #194 closed, assigned to mvladic

[2018-02-07 15:47] prasimix opened #195 "Initate touchscreen calibration when calibration data are lost or corrupted"
If touchscreen calibration date are lost or corrupted and working with touchscreen is not possible anymore a new calibration procedure should be initiated using the one of the following ways:
1. Press and hold anywhere on the screen for 30 or more seconds
2. Execute SCPI command `CALibrate:SCReen:INIT`

[2018-02-07 17:18] prasimix commented on #195
Remove extended trace debug log data while calibrating, we don't need them anymore

[2018-02-07 19:43] mvladic commented on #195
Debug trace log removed!

[2018-02-07 22:34] prasimix commented on #195
Fixed

[2018-02-07 22:34] #195 closed, assigned to mvladic

[2018-02-10 08:54] prasimix opened #196 "Outputs protection when out of range voltage is measured"
We can add a new type of protection against over-voltage detection on the outputs. For example someone tried to connect 48 V battery while only 40 V is allowed. If that happen TVS diode connected across output terminals will start to conduct but not for too long. That could lead to its damage and then to the rest of the power module.
To avoid such situation, when ADC measured more then max voltage

[2018-02-28 14:50] momo-aux commented on #158
To load a NiMh battery there should be some kind of trigger that can be used to detect a -5mV voltage drop and if that occurs stop the charging process.

So would it be possible to have a programm in the firmware that I could activate to make this happen?

Like: Set the PSU to 11.6V with 150mA, connect the 9.6V NiMh 1500mAh Battery pack and start charging. If the Voltage raises all is ok. If Volta

[2018-02-28 14:58] prasimix commented on #158
Currently it's not possible to do that in firmware, i.e. without external agency, that is PC connected via USB or Ethernet. In that case it's possible to write a simple script that will measure voltage change tendency and stop the charging process when mentioned criteria is met. We are currently working on EEZ Studio that has SCPI console that can be used for communication using SCPI commands. In

[2018-02-28 15:11] momo-aux commented on #158
Great news, thank you.

[2018-03-06 21:53] TimWoodburn commented on #88
I've just updated to v1.1 and also have "SD Card Failed" message on start.

CPU R5B12, Arduino IDE 1.8.5
SD version 1.1.1
Used SDFAT from EEZ GIT

Fault was not apparent on V1.0

If I follow Helix70s steps I get the following:
**ERROR: -250, "Mass storage error"
**ERROR: -350, "Queue overflow"

test? shows "SD card, installed, failed"

Any ideas?

[2018-03-07 14:31] mvladic commented on #88
Please, upload latest firmware (we just committed some changes) and execute ```debug?``` SCPI command and let me know what you get. Thanks!

[2018-03-07 19:20] TimWoodburn commented on #88
Hi,

The output is as follows:

[2018-03-07 19:41] mvladic commented on #88
Hm, strange. "card begin result" and "fs begin result" is 1, which is good and you shouldn't get "SD card, installed, failed".

[2018-03-07 21:32] TimWoodburn commented on #88
This unit was only assembled a couple of weeks ago however I don't recall noticing the SD card error with v1.0.

I pushed the SD card and rebooted...failed on start. Rebooted again, fault no longer apparent.  I've recycled the power a few times and _mostly_ no failures.

Perhaps the card wasn't fully located...seems odd though that the fault wasn't apparent on V1.0.

Thanks for having a look.

[2018-03-08 09:22] mvladic commented on #88
Would you be so kind and next time when you get SD failure, execute "debug?" and send me (we should see "SD card begin result error: ???" line with SdFat library internal error code).

[2018-03-08 18:00] TimWoodburn commented on #88
The PSU reported an SD card failure in self test on 4 of 20 power-ups from standby.  The output of debug after failure is as follows:

[2018-03-16 14:13] morris6 opened #197 "Fan fail message during startup self-test when using a larger, slower fan."
* Firmware version: v1.02 and v1.1
* Shield version: r5B13
* Powerboard version: r5B13

### Expected behavior

Self-test should be passed

### Actual behavior

Two out of three times self-test gives "Fan fail"

### How to reproduce

I used an eighty-millimeter fan in my build in stead of the prescribed sixty-millimeter one. It accelerates slower and has a lower nominal rpm, 2000 verses 4000.

###

[2018-03-25 08:36] prasimix opened #198 "Internal data logging (SCPI only)"
Add support for internal data logging using SCPI commands _only_, i.e. collecting measured values and store them on the SD card. Log files can be further transfered to the PC. The following new SCPI commands are required:
* `ABORt:DLOG`
* `INITiate:DLOG`
* `SENSe:DLOG:FUNCtion:CURRent`,  `SENSe:DLOG:FUNCtion:POWer`, `SENSe:DLOG:FUNCtion:VOLTage`, `SENSe:DLOG:PERiod`, `SENSe:DLOG:TIME`
* `TRIGger:D

[2018-03-27 13:48] mvladic commented on #188
Does it mean that fan will be always on regardless of the temperature? If the main reason why you opened this issue is continuous fan switching on and off, then we has to find a way how to avoid it (e.g. by implementing PID controller).

[2018-03-28 02:44] kolesar007 commented on #188
Yes fan is always on regardless of the temperature, and it would be nice to implement PID controler for fan. Now its anoying fan noise if you use power supply lets say just for small power.
As I wrote in my previous post I sugest set of two temperatures (temp1, tem2) in menu. So when temperature is below temp1 fan will be at min speed, between temp1 and temp2 fan will regulate from min speed to 10

[2018-03-28 09:38] prasimix commented on #188
We'll add PID controller to manage fan speed. That should also offer possibility that fan works continuously (with various speed) depending of defined P, I, and D constants.

[2018-03-28 09:41] kolesar007 commented on #188
You can add PID or simple as I wrote two temperatures and then drive PWM depend on this two temperatures.

[2018-03-28 09:41] kolesar007 commented on #188
You can add PID or simple as I wrote two temperatures and then drive PWM
depend on this two temperatures.

V V sre., 28. mar. 2018 ob 11:38 je oseba prasimix <notifications@github.com>
napisala:

[2018-03-28 09:52] prasimix commented on #188
Not sure that is the same: I don't want that fan is running all the time, and I believe it's possible to configure PID in both way (i.e. that fan is working continuously with different speed, or to switch off when measure temperature goes below one that is set for min. fan speed).

[2018-03-28 10:06] kolesar007 commented on #188
Of course is not the same, but for that purpose I think that is fine simple control speed with temperature.
You have another option to regulate fan speed with current .. more current more speed :), but its better control with temperature because when you stop using supply with high current fan goes off but supply is still may be hot.

[2018-03-30 09:34] DwaineGarden commented on #198
Thanks for the continued firmware updates....

[2018-04-04 16:32] prasimix commented on #186
Fixed

[2018-04-04 16:32] #186 closed, assigned to mvladic

[2018-04-05 14:44] prasimix commented on #188
PID controller is now implemented and ready for testing. For debuging purpose you can change PID values without recompiling/uploading new firmware  using the SCPI command `DEBUG:FAN:PID Kp, Ki, Kd, poe` where:
* Kp = proportional
* Ki = integral
* Kd = differential and
* poe = process method, 1=_Proportional on Error_ or 0=_Proportional on Measurement_ (for more info check [Introducing Proportiona

[2018-04-05 14:52] prasimix commented on #197
Ready for testing, please let us know if it works for you. Please also take into account changes introduced with #188.

[2018-04-05 20:36] morris6 commented on #197
The adaptation of fan.cpp solves my issue. The startup self-test now performs as expected. Thanks.

[2018-04-05 20:36] #197 closed, assigned to mvladic

[2018-04-06 04:06] ZakDanger opened #200 "Using SCPI over usb serial then over ethernet causes a problem"
* Firmware version: v1.1 (latest from github)
* Shield version: r5b12
* Powerboard version: r5b12

I am writing a little app to control the PSU via SCPI over usb serial and ethernet.
I have both usb serial and ethernet enabled on my PSU.
I have a usb cable and ethernet cable connected between my PSU and PC.
I have nothing connected to either channel of the outputs.

As a test I am just reading out

[2018-04-06 10:50] mvladic commented on #88
Because of:

I know that filesystem initialization is failing. But, I need more info.

Please try the same thing with the latest [psu-firmware](https://github.com/eez-open/psu-firmware) and [SdFat library](https://github.com/eez-open/SdFat).

Hopefully we will se after `SD fs begin result: 0` one more line with additional info. Thanks!

[2018-04-06 11:56] mvladic commented on #200
Which terminal app are you using?

[2018-04-06 12:01] ZakDanger commented on #200
While testing repro steps I used SecureCRT in windows, but any terminal app should work for testing.
Initially the problem was occurring while using my own code, I just used a terrminal to provide repro steps and to ensure the issue wasn't due to my code.

After playing with it longer I think it may be connection open/close related inside the PSU firmware code as I get various random crashes when

[2018-04-06 12:02] ZakDanger commented on #200
And by *crashes* I mean the PSU puts itself into standby mode as I mention in my initial post.

[2018-04-06 12:18] ZakDanger commented on #200
In fact I wonder if maybe it is related to profile saving?
I haven't looked at the code, but it seems profile saving occurs at various times without being invoked explicitly.

It is always mentioned just before the crash, such as again just now:
**TRACE [2018-04-06 22:10:17]: Profile 0 saved!
**TRACE [2018-04-06 22:17:18]: Ch1 PWRGOOD bit changed to 0
**ERROR [2018-04-06 22:17:18]: -242,"CH1 fault

[2018-04-06 12:18] mvladic commented on #200
I was able to reproduce your problem with Putty and Arduino IDE Serial Monitor. In both cases when you close the terminal app it doesn't properly closes serial port. So, PSU firmware thinks it still has serial connection open. When firmware tries to write something on this serial port it will block - this is how Arduino Serial library works. This is the reason way in step 5 everything blocks, beca

[2018-04-06 12:20] mvladic commented on #200
**TRACE [2018-04-06 22:10:17]: Profile 0 saved!

I think here profile is saved to remember that we were in stand by, so if you power off and power on it will go again straight to stand by.

[2018-04-06 12:21] ZakDanger commented on #200
Ok, so if i pull current code from git it should show me whether it is really closing or not?
I'll try now.

[2018-04-06 12:21] mvladic commented on #200
Yes.

[2018-04-06 12:39] ZakDanger commented on #200
Unrelated to this issue: but I think your commit has an issue:
sd_card.cpp: line 67
is:
```g_fsBeginErrorCode = SD.fsBeginErrorCode();```
it looks like you probably meant:
```g_fsBeginErrorCode = SD.cardErrorCode();```

[2018-04-06 12:48] ZakDanger commented on #200
Ok so with the new code I can confirm that the serial terminal app I am using is not causing the usb icon to "turn off" when I disconnect from it. I see it go green when I connect to it, but it then stays green even when i disconnect.

[2018-04-06 12:50] mvladic commented on #200
Sorry, I forgot to tell you that you should get the latest [SdFat library](https://github.com/eez-open/SdFat) also.

[2018-04-06 12:54] ZakDanger commented on #200
Ah ok - i'll get it too then.
I just tried the code from my SCPI app, and the usb icon also stays green after a disconnect.

What do you do in your serial app to make the icon go off?
I am using pyserial, and when I am done I am calling serial.close() which is *supposed* to close the connection, but the green usb icon seems to say otherwise.

[2018-04-06 12:58] mvladic commented on #200
I'm using this library:

https://github.com/node-serialport/node-serialport

but this is JavaScript.

[2018-04-06 13:09] ZakDanger commented on #200
I just tried with the hyperterm app you linked (from google drive) it also does not turn off the usb icon.
The icon stays green.

[2018-04-06 13:12] mvladic commented on #200
I just tried pyserial on Windows and Ubuntu. On Windows it does not turn off usb icon but on Ubuntu it turns off!?

[2018-04-06 13:12] ZakDanger commented on #200
I am running windows 10 64bit if it matters.

Searching about closing serial port for arduino brings up lots of ppl also complaining about it, but I've not come across a fix yet.

[2018-04-06 13:13] ZakDanger commented on #200
I wonder if it is low level driver related - ie due to it being a usb connnection pretending to be a serial connection

[2018-04-06 13:14] mvladic commented on #200
I tried again hyperterm and it again turned off icon, strange why it doesn't work for you.

[2018-04-06 13:15] ZakDanger commented on #200
I am at 115200, 8N1.
I tried all 3 flow controls. no luck.

[2018-04-06 13:15] ZakDanger commented on #200
Are you connected to the native usb port on arduino? (I am)

[2018-04-06 13:22] mvladic commented on #200
Yes, native.

[2018-04-06 13:32] prasimix commented on #175
Fixed

[2018-04-06 13:32] #175 closed, assigned to mvladic

[2018-04-06 13:36] prasimix commented on #177
Fixed

[2018-04-06 13:36] #177 closed, assigned to mvladic

[2018-04-06 13:40] prasimix commented on #176
Works now per unit type (voltage, current) but not per channel. If we want to implement that correctly we have to remember 4 not just 2 steps.

[2018-04-06 13:46] prasimix commented on #193
Ready for testing. Please try it now and close it if fixed.

[2018-04-06 13:47] prasimix commented on #179
Fixed

[2018-04-06 13:47] #179 closed, assigned to mvladic

[2018-04-06 13:58] ZakDanger commented on #200
On ubuntu on my laptop I can get the icon to go off when I disconnect from it using putty.
Still yet to get it to go off while on my desktop running windows tho :/

[2018-04-06 14:32] ZakDanger commented on #200
Holy crap I just got it working!

After reading maaaany pages I some an advanced option for some usb drivers that lets you set RTS on close. So in my pyserial code I explicitly set RTS low before closing the connection normally and the green usb icon goes away!

Note I am not using dtr/rts flow control as part of my normal code.

For anyone else with this issue, here is my close code.
[code]

[2018-04-06 15:24] mvladic commented on #200
I just find this article:

https://devzone.nordicsemi.com/b/blog/posts/weird-issue-with-pyserial-flow-control

it will also work if you open port like this:

[code]

[2018-04-06 15:28] Helix70 commented on #88
I updated and tried the master firmware.
It seems ok. Now I get this from debug?

CH1 U_DAC = 23372
CH2 U_DAC = 20550
CH1 U_MON = 633
CH2 U_MON = 653
CH1 U_MON_DAC = 11623
CH2 U_MON_DAC = 10207
CH1 I_DAC = 51830

CH2 I_DAC = 14084
CH1 I_MON = 683
CH2 I_MON = 707
CH1 I_MON_DAC = 25871
CH2 I_MON_DAC = 7020
AUX TEMP = 340
CH1 TEMP = 371
CH2 TEMP = 368
MAIN_LOOP_DURATION = 206 5500 10808 / 206 5501 11

[2018-04-06 15:50] prasimix commented on #198
Reset all values selected for data logging when logging session finished (gracefully or forcefully).

[2018-04-06 15:51] mvladic commented on #88
I'm more interested in debug info when SD card initialization fails ;)

[2018-04-06 16:32] prasimix commented on #176
Ready for testing. Please try it now and close it if fixed.

[2018-04-06 16:33] #94 closed, assigned to nobody

[2018-04-06 21:42] prasimix commented on #178
Fixed

[2018-04-06 21:42] #178 closed, assigned to mvladic

[2018-04-06 22:16] ZakDanger commented on #200
I tried using all forms of flow control and none of them helped. In fact when I tried setting rtscts it would often result in the arduino not even responding, and when it did respond it would still not close the connection at the end. I tried every weird little hidden option as well along the way, nothing worked until I tried setting rts low just before closing. That appears to work every time.

[2018-04-07 00:17] ZakDanger commented on #200
I have tested again this morning, alternating between serial connection and ethernet connections. Now that the serial connection is closing correctly it doesn't crash anymore. So I will close this for now and reopen if the crashes come back :)

Thanks for the help tracking down the cause of this @mvladic

[2018-04-07 00:17] #200 closed, assigned to mvladic

[2018-04-07 02:59] kolesar007 commented on #188
Nice to hear that this is implemented :). I will test this next week.

[2018-04-07 06:52] prasimix commented on #182
Fixed

[2018-04-07 06:52] #182 closed, assigned to mvladic

[2018-04-07 07:04] #23 closed, assigned to mvladic

[2018-04-07 12:14] AndersWestman commented on #176
Looks good.

[2018-04-07 12:14] #176 closed, assigned to mvladic

[2018-04-09 09:16] prasimix commented on #198
Completed and tested.

[2018-04-09 09:16] #198 closed, assigned to mvladic

[2018-04-11 08:32] prasimix commented on #6
Fixed

[2018-04-11 08:32] #6 closed, assigned to mvladic

[2018-04-16 05:52] prasimix opened #202 "Support for the Power board r5B13"
Add support for third current range (0-50 mA) that was added on the Power board r5B13.

[2018-04-29 08:23] prasimix opened #203 "Trigger cannot start if output values are limited on other channel"
If trigger (e.g. `LIST`) wants to be started on CH1, and CH2 has voltage limit set to value lower then the highest from the CH1 list, trigger execution will fail with error "Voltage limit exceeded" despite the fact that on the CH2 trigger is set to `FIXed`, hence is not affected with trigger.

[2018-04-29 08:25] #188 closed, assigned to mvladic

[2018-04-29 08:25] #193 closed, assigned to mvladic

[2018-04-29 08:25] #88 closed, assigned to mvladic

[2018-04-29 08:28] prasimix commented on #203
Fixed

[2018-04-29 08:28] #203 closed, assigned to mvladic

[2018-04-29 08:38] prasimix commented on #165
Will be added under release _Assets_ section as `eez_psu_sketch.ino.elf`

[2018-04-29 09:09] #165 closed, assigned to mvladic

[2018-05-11 08:17] mvladic opened #204 "Not possible to configure Ethernet without DHCP"
* Firmware version: 1.1
* Shield version Arduino, R5B12
* Powerboard version R5B12

### Expected behavior

It should be possible to configure Ethernet without DHCP since option for that exists.

### Actual behavior

Change in DHCP option is not saved.

### How to reproduce

- Open `Ethernet settings` page.
- Set DHCP to No
- Press Set button
- Open `Ethernet settings` page again - DHCP is still se

[2018-06-15 11:34] prasimix opened #205 "Reduce SD card SPI clock speed"
Reduce SD card SPI clock speed from CPU/4 to CPU/3 since it seems that communication with some SD cards doesn't work reliable.

[2018-06-15 12:02] prasimix opened #206 "Increase SPI speed for W5500"
Increase SPI clock speed for Ethernet controller from F_CPU/10 to F_CPU/5

[2018-06-15 12:18] prasimix commented on #206
Fixed

[2018-06-15 12:18] #206 closed, assigned to mvladic

[2018-06-15 12:18] prasimix commented on #205
Fixed

[2018-06-15 12:18] #205 closed, assigned to mvladic

[2018-06-20 17:47] sujitth opened #207 "Manual&Step Trigger is not working"
* Firmware version: V1.1.1
* Shield version: Arduino-Crowdsupply
* Powerboard version: R5B12

### Expected behavior
when the manual&step trigger system is initiated the current channel setting value is outputted first and when triggered, the step value has to be updated to the channel output.

### Actual behavior
Currently the output is OFF until triggered and only the step value is outputted to t

[2018-07-03 21:17] Cabalist opened #208 "Calibration seems very off after upgrading"
* Firmware version: v1.1.1
* Shield version: R5B12
* Powerboard version r5B12

After upgrading to v1.1.1 of the firmware I re ran the configuration wizard.   I am getting some rather low values in the first step and thought I'd stop before I pushed forward.

For CH1 instead of 150mV  it is showing -1.44 to -1.45mv on my multimeter.  On CH2 it is showing 17.04 to 17.27mv.   Both of these seem signi

[2018-07-06 10:55] prasimix commented on #208
Please go back to last known firmware version when calibration worked as you expected, and let us know if any difference exists.

[2018-08-05 15:36] AndersWestman opened #209 "New feature: AC-mode"
* Firmware version:
* Shield version
* Powerboard version

### Expected behavior

Would it be possible to make an “AC-mode” there a predefined list or similar is doing the half wave for each channel. The channels are external serial coupled to make a midpoint reference.
If it’s possible to calculate the list in the firmware just by typing in AC voltage and frequency that would be great, but some p

[2018-08-23 06:05] AndersWestman opened #210 "Rotary encoder issue"
* Firmware version: 1.1.1 with the “SD-card fix”
* Shield version Crowd campaign unit
* Powerboard version

### Expected behavior
Rotary encoder is expected to change the value by one increment at time.

### Actual behavior
Rotary encoder sometimes changes the value by factor 100, e.g. 10V instead of 0.1V or 1V instead of 10mV.

### How to reproduce

[2018-08-24 08:59] prasimix commented on #210
How to reproduce: wait somewhere between half and hour and an hour after powering PSU on. First step will be ignored and the next one will be 100x times higher then expected (e.g. 1 V instead od 10 mV). All other steps after that will be correct (i.e. 10 mV increments).

[2018-08-27 12:26] prasimix commented on #207
Fixed, it should works now as in [this](https://youtu.be/hv_wY3ePyhI?t=4m58s) video.

[2018-09-01 18:57] AndersWestman commented on #210
Master branch from August 27, 2018 looks fine.

[2018-09-01 18:57] #210 closed, assigned to mvladic

[2018-09-24 10:42] #207 closed, assigned to mvladic

[2018-09-28 15:22] prasimix opened #211 "Initial task list for adding support for STM32F7 MCU board"
Initial list that include tasks and changes required for adding support for new [modular PSU](https://github.com/eez-open/modular-psu) with STM32F7 [MCU board](https://github.com/eez-open/modular-psu/tree/master/mcu) instead of Arduino Due.

### TFT LCD and touchscreen controller
TFT LCD is replaced with 4.3" (480x272, landscape). It comes with 24-bit RGB interface (only 18-bit is wired on the boa